@using App.Models.Materials;
@model IEnumerable<MaterialCategory>

@{
	ViewBag.Title = "Материали";
}

<div class="row">
	@{ int counter = 0;}
	@foreach (var category in Model)
	{
		<div class="col-md-6">
			<h3>@category.Name</h3>
			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th><i class="fa fa-picture-o"></i></th>
						<th>Име</th>
						<th class="text-center">Цена</th>
						<th><i class="fa fa-trash-o"></i></th>
					</tr>
				</thead>
				<tbody>
					@if (category.Materials.Count() > 0)
					{
						foreach (var material in category.Materials)
						{
							string rowClass = "";
							if (material.IsDisabled)
							{
								rowClass = "dimmed";
							}
					<tr class="@rowClass">
						<td><a href="@Url.Action("Edit", new { id = material.Id })">@Html.ByteImage(material.Image.Small, "Материал", "material-thumbnail-index")</a></td>
						<td><a href="@Url.Action("Edit", new { id = material.Id })">@material.Name</a></td>
						<td class="text-center"><a href="@Url.Action("Edit", new { id = material.Id })">@material.Price лв.</a></td>
						@if (!material.IsDisabled)
						{
							<td><a href="@Url.Action("Delete", new { id = material.Id })" class="confirm-link"><i class="fa fa-trash-o"></i></a></td>
						}
						else
						{
							<td><a href="@Url.Action("Restore", new { id = material.Id })" class="confirm-link"><i class="fa fa-repeat"></i></a></td>
						}
					</tr>
						}
						<tr>
							<td colspan="4">
								<a href="@Url.Action("Create", new { id = category.Id })" class="btn btn-primary" style="width:100%;">Добави</a>
							</td>
						</tr>
					}
					else
					{
						<tr>
							<td class="text-center" style="padding: 40px;" colspan="4">Категорията няма качени материали!</td>
						</tr>
						<tr>
							<td colspan="4">
								<a href="@Url.Action("Create", new { id = category.Id })" class="btn btn-primary" style="width:100%;">Добави</a>
							</td>
						</tr>
					}
				</tbody>
			</table>

			@{  counter++; }
			@if (counter % 2 == 0 && counter != 0)
			{
				@:</div></div>
				@:<div class="row"><div class="col-md-12">
			}
		</div>
	}
</div>