@using App.Models.Orders;
@using App.Web.Areas.Administration.Models;

@model OrdersMasterModel
@{
	ViewBag.Title = "Администрация";
}
<h2>Поръчки:</h2>
<div class="row">
	<div class="col-md-6">
		<h3>В Прозиводство:</h3>
		@Html.Partial("Partials/_OrderRow", Model.InProduction)
	</div>
	<div class="col-md-6">
		<h3>Чакащи оферта:</h3>
		@Html.Partial("Partials/_OrderRow", Model.WaitingOffer)
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h3>Чакащи отговор от клиент:</h3>
		@Html.Partial("Partials/_OrderRow", Model.WaitingClientResponse)
	</div>
	<div class="col-md-6">
		<h3>Отказани:</h3>
		@Html.Partial("Partials/_OrderRow", Model.Canceled)
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Готови и Доставени:</h3>
		@Html.Partial("Partials/_OrderRow", Model.Done)
	</div>
</div>