@using App.Models.Orders;
@using App.Web.Areas.Administration.Models;

@model OrdersMasterModel
@{
	ViewBag.Title = "Администрация";
}
<h2>Поръчки:</h2>
<div class="row">
	<div class="col-md-6">
		<h3>В Прозиводство:</h3>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>№</th>
					<th>Наименование:</th>
					<th>Клиент:</th>
					<th class="text-center">Скица:</th>
					<th class="text-center">Изтрии:</th>
				</tr>
			</thead>
			<tbody>
				@foreach (OrderViewModelSimple order in Model.InProduction)
				{
					@Html.Partial("Partials/_OrderRow", order);
				}
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h3>Чакащи оферта:</h3>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>№</th>
					<th>Наименование:</th>
					<th>Клиент:</th>
					<th class="text-center">Скица:</th>
					<th class="text-center">Изтрии:</th>
				</tr>
			</thead>
			<tbody>
				@foreach (OrderViewModelSimple order in Model.WaitingOffer)
				{
					@Html.Partial("Partials/_OrderRow", order);
				}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h3>Чакащи отговор от клиент:</h3>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>№</th>
					<th>Наименование:</th>
					<th>Клиент:</th>
					<th class="text-center">Скица:</th>
					<th class="text-center">Изтрии:</th>
				</tr>
			</thead>
			<tbody>
				@foreach (OrderViewModelSimple order in Model.WaitingClientResponse)
				{
					@Html.Partial("Partials/_OrderRow", order);
				}
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h3>Отказани:</h3>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>№</th>
					<th>Наименование:</th>
					<th>Клиент:</th>
					<th class="text-center">Скица:</th>
					<th class="text-center">Изтрии:</th>
				</tr>
			</thead>
			<tbody>
				@foreach (OrderViewModelSimple order in Model.Canceled)
				{
					@Html.Partial("Partials/_OrderRow", order);
				}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Готови и Доставени:</h3>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>№</th>
					<th>Наименование:</th>
					<th>Клиент:</th>
					<th class="text-center">Скица:</th>
					<th class="text-center">Изтрии:</th>
				</tr>
			</thead>
			<tbody>
				@foreach (OrderViewModelSimple order in Model.Done)
				{
					@Html.Partial("Partials/_OrderRow", order);
				}
			</tbody>
		</table>
	</div>
</div>