@using App.Models;
@model ICollection<ApplicationUser>

@if (Model != null && @Model.Count() > 0)
{
	foreach (var Client in Model)
	{
		<tr>
			<td><a href="@Url.Action("Edit", new { @id = Client.Id })">@string.Format("{0} {1}", Client.FirstName, Client.LastName)</a></td>
			<td><a href="@Url.Action("Edit", new { @id = Client.Id })">@Client.Email</a></td>
			<td class="centered">
				<a href="@Url.Action("Edit", new { @id = Client.Id })"><i class="fa fa-edit"></i></a>
				@{
					string renderingActiveUsers = this.ViewData.ContainsKey("ActiveUsers") ? this.ViewData["ActiveUsers"].ToString() : string.Empty;
					if (renderingActiveUsers == "true")
					{
						<a onclick="return confirm('Сигурни ли сте, че искате да деактивирате клиента?');" title="Деактивирай" href="@Url.Action("DeactivateClient", new { @id = Client.Id })"><i class="fa fa-arrow-down"></i></a>
					}
					else
					{
						<a onclick="return confirm('Сигурни ли сте, че искате да активирате клиента?');" title="Активирай" href="@Url.Action("ActivateClient", new { @id = Client.Id })"><i class="fa fa-arrow-up"></i></a>
					}
				}
			</td>
		</tr>
						}
					}