@using App.Models;
@model ICollection<ApplicationUser>

@if (Model != null && @Model.Count() > 0)
{
	foreach (var Client in Model)
	{
		<tr>
			<td>@string.Format("{0} {1}", Client.FirstName, Client.LastName)</td>
			<td>@Client.Email</td>
			<td class="centered">
				<a href="@Url.Action("Edit", new { @id = Client.Id })"><img src="~/Areas/Administration/Content/img/edit-icon.png" /></a>
				<a onclick="return confirm('Сигурни ли сте, че искате да изтриете?');" href="@Url.Action("Delete", new { @id = Client.Id })"><img src="~/Areas/Administration/Content/img/delete-icon.png" /></a>
			</td>
		</tr>
	}
}