@using App.Models.Orders;
@model OrderInputModel
@{
	ViewBag.Title = "Index";
}

<!-- breadcrumbs start-->
<section class="breadcrumbs">
	<div class="container">
		<div class="text-center breadcrumbs-item">
			<h1>Заявка</h1><a href="/">Начало</a><i class="fa fa-angle-right"></i><a href="/make">Направи</a><i class="fa fa-angle-right"></i><a href="/orders/make">Заявка</a>
		</div>
	</div>
</section>
<!-- ! breadcrumbs end-->
<div class="container mt-40 pb-60">
	<div class="row" style="margin-bottom:30px;">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="title-section mb-0 mt-0 text-center">Изпратете вашите скици</h2>
			<div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
			<p class="text-center mb-0">Преди да качите вашия проект, вие може да видите как ще изглеждат избраните от вас декоративни плоскости <a href="#">ТУК</a>, както и да сметнете с нашия калкулатор колко приблизително ще Ви излезе проекта <a href="#">ТУК</a>. Не е нужно да имате регистрация за да обработим вашият проект, но за да пристъпим към неговата реализация, трябва да се регистрирате <a href="#">ТУК</a>.</p>
		</div>
	</div>
	@using (Html.BeginForm("Make", "Orders", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form contact-form alt clearfix" }))
	{
		<div class="row">
			<div class="col-md-6">
				<!-- contact-form-->
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })

				@Html.LabelFor(model => model.Title) @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
				@Html.EditorFor(model => model.Title)
				<br />

				@if (!Request.IsAuthenticated)
				{
					@Html.LabelFor(model => model.AnonymousClientName) @Html.ValidationMessageFor(model => model.AnonymousClientName, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.AnonymousClientName)
					<br />

						@Html.LabelFor(model => model.AnonymousClientEmail) @Html.ValidationMessageFor(model => model.AnonymousClientEmail, "", new { @class = "text-danger" })
						@Html.EditorFor(model => model.AnonymousClientEmail)
						<br />

						@Html.LabelFor(model => model.AnonymousClientPhone) @Html.ValidationMessageFor(model => model.AnonymousClientPhone, "", new { @class = "text-danger" })
						@Html.EditorFor(model => model.AnonymousClientPhone)
						<br />
				}

				@Html.LabelFor(model => model.OrderText) @Html.ValidationMessageFor(model => model.OrderText, "", new { @class = "text-danger" })
				@Html.EditorFor(model => model.OrderText)

				@Html.TextBoxFor(model => model.BaseMaterialId, "", new { @class = "concealed" })
				@Html.TextBoxFor(model => model.DoorsMaterialId, "", new { @class = "concealed" })
				@Html.TextBoxFor(model => model.FazerMaterialId, "", new { @class = "concealed" })
				@Html.TextBoxFor(model => model.HandlesMaterialId, "", new { @class = "concealed" })

				<div class="sketches-preview-box">
					<h3>Прикачени скици:</h3>
					<ul class="sketches-names-list">
						@*<li><span class="label label-success">13537676_10208317155461281_8621096185091439877_n.jpg</span></li>
						<li><span class="label label-success">13537676_10208317155461281_8621096185091439877_n.jpg</span></li>*@
					</ul>
				</div>

				<label for="sketches-input" class="custom-sketches-input">
					<i class="fa fa-file-picture-o"></i> Прикачи Скици
				</label>
				<input type="file" id="sketches-input" name="PostedSketches" multiple />
				@Html.ValidationMessageFor(model => model.PostedSketches, "", new { @class = "text-danger" })
				<br /><span style="font-size:10px;text-transform:uppercase;" >* Може да качиш повече от една скица!</span>
				<!-- ! contact-form-->
			</div>
			<div class="col-md-6">
				<div class="order-category">
					Плоча за основа: @Html.ValidationMessageFor(model => model.BaseMaterialId, "", new { @class = "text-danger" })<br />
					@foreach (var material in Model.SurfaceMaterials)
					{
						@Html.ByteImage(
							material.Image.Small,
							material.Name,
							"js-base-surface-material",
							material.Id.ToString(),
							material.Name)
					}
				</div>
				<div class="order-category">
					Плоча за врати: @Html.ValidationMessageFor(model => model.DoorsMaterialId, "", new { @class = "text-danger" })<br />
					@foreach (var material in Model.SurfaceMaterials)
					{
						@Html.ByteImage(
							material.Image.Small,
							material.Name,
							"js-door-surface-material",
							material.Id.ToString(),
							material.Name)
					}
				</div>
				<div class="order-category">
					Фазер: @Html.ValidationMessageFor(model => model.FazerMaterialId, "", new { @class = "text-danger" })<br />
					@foreach (var material in Model.SurfaceMaterials)
					{
						@Html.ByteImage(
							material.Image.Small,
							material.Name,
							"js-fazer-surface-material",
							material.Id.ToString(),
							material.Name)
					}
				</div>
				<div class="order-category">
					Дръжки: @Html.ValidationMessageFor(model => model.HandlesMaterialId, "", new { @class = "text-danger" })<br />
					@foreach (var material in Model.HandlesMaterials)
					{
						@Html.ByteImage(
							material.Image.Small,
							material.Name,
							"js-handle-material",
							material.Id.ToString(),
							material.Name)
					}
				</div>
			</div>
		</div>
		<hr class="mt-60 mb-60" />
		<div class="row">
			<div class="col-md-12">
				<div class="cs-loader">
					<div class="cs-loader-inner">
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
					</div>
				</div>
				<button type="submit" id="order-submit-form-button" style="width:50%;margin:0 auto;display:block;" class="cws-button alt">Изпрати</button>
			</div>
		</div>
	}
	<div class="row mt-50">
		<div class="col-md-12">
			<p>* След като дадете Вашия проект, до 24 часа ние ще се свържем с Вас за неговото уточняване, след което ще Ви пратим по email как ще изглежда Вашия готов проект и колко точно ще Ви струва той.</p>
		</div>
	</div>
</div>

<div class="modal fade" id="window-close-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Modal body text goes here.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Save changes</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@*@Scripts.Render("~/bundles/jqueryval")*@
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

	<script>
		// MarkSelected material on load
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip({
				animated: 'fade',
				html: true
			});

			var baseInput = $('#BaseMaterialId');
			var doorInput = $('#DoorsMaterialId');
			var fazerInput = $('#FazerMaterialId');
			var handleInput = $('#HandlesMaterialId');

			var baseMaterials = $('.js-base-surface-material');
			var doorMaterials = $('.js-door-surface-material');
			var fazerMaterials = $('.js-fazer-surface-material');
			var handleMaterials = $('.js-handle-material');

			initializeMaterialsState(baseMaterials, baseInput);
			initializeMaterialsState(doorMaterials, doorInput);
			initializeMaterialsState(fazerMaterials, fazerInput);
			initializeMaterialsState(handleMaterials, handleInput);

			// Surface selection logic
			updateHiddenInput(baseMaterials, baseInput);
			updateHiddenInput(doorMaterials, doorInput);
			updateHiddenInput(fazerMaterials, fazerInput);
			updateHiddenInput(handleMaterials, handleInput);

			//using the click event on the submit button
			$('#order-submit-form-button').click(function (evt) {
				var $form = $('form.contact-form');
				var btn = $(this);
				if ($form.valid()) {
					// the form is valid
					// dim out and disable the submit button to prevent multiple sends
					btn.attr('disabled', 'disabled');
					btn.css('opacity', '0.5');
					$('.cs-loader').show();
					$form.submit();
				}
			});

			// UI visual feedback for file loaded in files input
			var previewBox = $('.sketches-preview-box');
			var sketchNamesUl = $('.sketches-names-list');

			$('#sketches-input').on('change', function () {
				debugger;
				var input = this;
				if (input.files && input.files[0]) {
					previewBox.show();
					sketchNamesUl.html('');
					for (var i = 0; i < input.files.length; i++) {
						var liElement = generateLiElement(input.files[i]);
						sketchNamesUl.append(liElement);
					}
				}
			})
		});

		function generateLiElement(file) {
			var element = $('<li>');
			element.html('<span class="label label-success">' + file.name + '</span>');
			return element;
		}

		function updateHiddenInput(materials, inputElement) {
			for (var i = 0; i < materials.length; i++) {
				$(materials[i]).on('click', function () {
					var material = $(this);
					var materialId = material.attr('id');
					inputElement.val(parseInt(materialId));
					dimMaterials(materials);
					material.addClass('selected');
				});
			}
		}

		function dimMaterials(materials) {
			for (var i = 0; i < materials.length; i++) {
				var material = $(materials[i]);
				material.addClass('dimmed');
				material.removeClass('selected');
			}
		}

		function initializeMaterialsState(materials, inputElement) {
			if (inputElement.val() >= 1) {
				var element = $.grep(materials, function (e) {
					return $(e).attr('id') == inputElement.val();
				});

				dimMaterials(materials);
				$(element).addClass('selected');
			}
		}

		$('input').focus(function () {
			window.onbeforeunload = confirmExit;

			function confirmExit() {
				return "Данните които сте въвели ще бъдат загубени!";
			}
		});

		//order-submit-form-button

		$(document).ready(function () {
			$('#order-submit-form-button').click(function () { window.onbeforeunload = null; });
			$('form').submit(function () { window.onbeforeunload = null; });
		});
	</script>
}