@model App.Web.Models.ContactFormInputModel

@{
	ViewBag.Title = "Контакти";
}
<section class="breadcrumbs">
	<div class="container">
		<div class="text-center breadcrumbs-item">
			<h1>Контакти</h1><a href="/">начало</a><i class="fa fa-angle-right"></i><a href="/home/contact">Контакти</a>
		</div>
	</div>
</section>
<div class="container mt-40 pb-60">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="title-section mb-0 mt-0 text-center">Свържете се с нас</h2>
			<div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
			<p class="text-center mb-0">Нашите служители са готови да отговорят веднага на въпросите Ви.<br /> Свържете се с нас по телефон, email или ни изпратете съобщение през формата.</p>
		</div>
	</div>
	<div class="row mb-30 mt-30">
		<div class="col-md-4 col-sm-6 mb-md-30">
			<div class="service-item icon-right border color-icon">
				<img src="~/content/img/index//we-offer-3.png" alt="Alternate Text" style="float:left;width:35px;margin: 5px 20px 0 0px;" />
				<p class="mb-0">Телефоните ни работят от понеделник до петък 9:30 - 19ч.</p>
				
				
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mb-md-30">
			<div class="service-item icon-right border color-icon">
				<i class="flaticon-note cws-icon"></i>
				<p style="line-height:48px;" class="mb-0">tvoiat.garderob@gmail.com</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="service-item icon-right border color-icon">
				<i class="flaticon-technology-2 cws-icon"></i>
				<p class="mb-0">Телефон: 0877-977-156</p>
				<p class="mb-0">Телефон: 0877-977-165</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 mb-md-30">
			<div class="widget-contact-form pb-0">
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Сървърна грешка!</strong> <br/> Свържете се с администратор на адрес: <a href="mailto:manager@garderob.com" class="alert-link">manager@garderob.com</a>.
				</div>
				<div class="alert alert-dismissible alert-warning">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Невалидни данни!</strong> <br /> Моля обновете данните си и опитайне отново.
				</div>
				<div class='alert alert-dismissable alert-success'>
					<button type='button' class='close' data-dismiss='alert'>×</button>
					<strong>Съобщението беше изпратено успешно!</strong>
				</div>
				<!-- contact-form-->
				@using (Ajax.BeginForm("Contact", "Home", null, new AjaxOptions
				{
					OnFailure = "ContactFormServerFail",
					OnSuccess = "ContactFormServerSuccess",
					OnBegin = "ContactFormBegin"
				},
					new { @class = "form contact-form alt clearfix", @id = "result" }))
				{
					@Html.AntiForgeryToken()
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					if (!Request.IsAuthenticated)
					{
						@Html.LabelFor(model => model.Name) @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
						@Html.EditorFor(model => model.Name)
						<br />

						@Html.LabelFor(model => model.Email) @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
						@Html.EditorFor(model => model.Email)
						<br />

						@Html.LabelFor(model => model.Phone) @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
						@Html.EditorFor(model => model.Phone)
						<br />
					}

					
					@Html.LabelFor(model => model.Subject) @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.Subject)
					<br />

					
					@Html.LabelFor(model => model.Content) @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.Content)
					<br />
					<div class="cs-loader">
						<div class="cs-loader-inner">
							<label>	●</label>
							<label>	●</label>
							<label>	●</label>
							<label>	●</label>
							<label>	●</label>
							<label>	●</label>
						</div>
					</div>
					<input type="submit" value="Изпрати" class="cws-button alt full-width">
				}
				<!-- ! contact-form-->
			</div>
		</div>
		<div class="col-md-6">
			<img src="~/Content/img/contact/team-image.jpg" alt="Alternate Text" />
		</div>
	</div>
</div>


@section Scripts {
	@*@Scripts.Render("~/bundles/jqueryval")*@
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

	<script>
		function ContactFormServerFail(data) {
			var alertBox = $('.widget-contact-form .alert.alert-danger');
			alertBox.show();
			$('.cs-loader').hide();
		}

		function ContactFormServerSuccess(data) {
			$('.cs-loader').hide();
			if (data.Status === "InvalidModel") {
				console.log('Please update your data and try again');
				var warningBox = $('.widget-contact-form .alert.alert-warning');
				warningBox.show();
			}

			if (data.Status === 'Success') {
				console.log('Show succeess message');
				var result = $('#result');
				result.hide();

				var successBox = $('.widget-contact-form .alert.alert-success');
				successBox.show();
			}
		}

		function ContactFormBegin() {
			$('.cs-loader').show();
		}
	</script>
}
