@model App.Web.Models.ContactFormInputModel

@{
	ViewBag.Title = "Контакти";
}
<section class="breadcrumbs">
	<div class="container">
		<div class="text-center breadcrumbs-item">
			<h1>Контакти</h1><a href="#">начало</a><i class="fa fa-angle-right"></i><a href="#">Контакти</a>
		</div>
	</div>
</section>
<div class="container mt-40 pb-60">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="title-section mb-0 mt-0 text-center">Свържете се с нас</h2>
			<div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
			<p class="text-center mb-0">Нашите служители са готови да отговорят веднага на въпросите Ви.<br /> Свържете се с нас по телефон, email или ни изпратете съобщение през формата.</p>
		</div>
	</div>
	<div class="row mb-30 mt-30">
		<div class="col-md-4 col-sm-6 mb-md-30">
			<div class="service-item icon-right border color-icon">
				<img src="~/content/img/index//we-offer-3.png" alt="Alternate Text" style="float:left;width:35px;margin: 5px 20px 0 0px;" />
				<p class="mb-0">Телефон експерт:</p>
				<p class="mb-0">(359) 877-833-8847</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mb-md-30">
			<div class="service-item icon-right border color-icon">
				<i class="flaticon-note cws-icon"></i>
				<p class="mb-0">sales@tvoiatgarderob.com</p>
				<p class="mb-0">expert@tvoiatgarderob.com</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="service-item icon-right border color-icon">
				<i class="flaticon-technology-2 cws-icon"></i>
				<p class="mb-0">Телефон: (359) 877-833-8847</p>
				<p class="mb-0">Факс: (359) 877-833-8847</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 mb-md-30">
			<div class="widget-contact-form pb-0">
				<!-- contact-form-->
				@using (Ajax.BeginForm("Contact", "Home", null, new AjaxOptions { UpdateTargetId = "result" },
									new { @class = "form contact-form alt clearfix", @id = "result" }))
				{
					@Html.AntiForgeryToken()
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					if (!Request.IsAuthenticated)
					{
						@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
						@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Име" } })
						<br />

						@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
						@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Email" } })
						<br />

						@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
						@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @placeholder = "Телефон" } })
						<br />
					}

					@Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @placeholder = "Относно" } })
					<br />

					@Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.Content, new { htmlAttributes = new { @placeholder = "Съобщение" } })
					<br />
					<input type="submit" value="Изпрати" class="cws-button alt full-width">
				}
				//TODO: Dont ask for name and email when the user is logged!
				<!-- ! contact-form-->
				<div id="feedback-form-errors" role="alert" class="alert alert-danger alt alert-dismissible fade in">
					<button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button><i class="alert-icon border fa fa-exclamation-triangle"></i><strong>Грешни данни!</strong><br>
					<div class="message"></div>
				</div>
				<div class="email_server_responce"></div>
			</div>
		</div>
		<div class="col-md-6">
			<img src="~/Content/img/contact/team-image.jpg" alt="Alternate Text" />
		</div>
	</div>
</div>


@section Scripts {
	@*@Scripts.Render("~/bundles/jqueryval")*@
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
