@using App.Models.Materials;
@model EditMaterialCategoryInputModel

<div class="row">
	<div class="col-md-11">
		<h3>@ViewBag.Title</h3>
		<hr />
	</div>
</div>
@using (Html.BeginForm((string)ViewBag.FormMode, "MaterialCategories", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal " }))
{
	<div class="row">
		<div class="col-md-7">
			@Html.LabelFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
			@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Пр: Панти" } })
			@if (!string.IsNullOrEmpty(ViewBag.FormMode) && ViewBag.FormMode == "Edit")
			{
				@Html.LabelFor(model => model.Slug)
				@Html.ValidationMessageFor(model => model.Slug)
				@Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control" } })
			}

			@Html.LabelFor(model => model.Order, new { @class = "dab-input-label" })
			@Html.ValidationMessageFor(model => model.Order)
			@Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control", placeholder = "Пр: 1600x1024" } })

			@Html.LabelFor(model => model.Description, new { @class = "dab-input-label" })
			@Html.ValidationMessageFor(model => model.Description)
			@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Пр: Пантите служат за ..." } })
			<div class="row">
				<div class="col-md-4">
					@Html.LabelFor(model => model.SmallImageSize, new { @class = "dab-input-label" })
					@Html.ValidationMessageFor(model => model.SmallImageSize)
					@Html.EditorFor(model => model.SmallImageSize, new { htmlAttributes = new { @class = "form-control", placeholder = "Пр: 31x31" } })
				</div>
				<div class="col-md-4">
					@Html.LabelFor(model => model.MediumImageSize, new { @class = "dab-input-label" })
					@Html.ValidationMessageFor(model => model.MediumImageSize)
					@Html.EditorFor(model => model.MediumImageSize, new { htmlAttributes = new { @class = "form-control", placeholder = "Пр: 310x310" } })
				</div>
				<div class="col-md-4">
					@Html.LabelFor(model => model.BigImageSize, new { @class = "dab-input-label" })
					@Html.ValidationMessageFor(model => model.BigImageSize)
					@Html.EditorFor(model => model.BigImageSize, new { htmlAttributes = new { @class = "form-control", placeholder = "Пр: 1600x1024" } })
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<h4>Текущо изображение:</h4>
			@if (Model.Image == null)
			{
				<p>-- Липсва --</p>
			}

			@if (ViewBag.FormMode == "Edit" && Model.Image != null)
			{
				<a href="@Url.Action("Show", "Image", new { Area = "", id = Model.Image.Id, imageType = "big" })">
					@Html.ByteImage(Model.Image.Small, "Скица")
				</a>
			}

			<h4>Качи ново изображение:</h4>
			<input type="file" id="PostedImage" name="PostedImage" />

			<hr/>

			<h4>Текущ PDF файл:</h4>
			@if (Model.Pdf == null)
			{
				<p>-- Липсва --</p>
			}
			@if (ViewBag.FormMode == "Edit" && Model.Pdf != null)
			{
				<p><a href="@Url.Action("Show", "Document", new { Area = "", id = Model.Pdf.Id })"><strong>@Model.Pdf.Name</strong></a></p>
			}

			<h4>Качи нов PDF:</h4>
			<input type="file" id="PostedPDF" name="PostedPDF" />

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="submit" class="btn btn-success save-btn">
				@ViewBag.FormModeText
			</button>
		</div>
	</div>
}