@using App.Models.Testimonials
@using App.Models.Pages
@model IEnumerable<TestimonialViewModel>
@{
	ViewBag.Title = "List";
}

<section class="breadcrumbs">
	<div class="container">
		<div class="text-center breadcrumbs-item">
			<h1>Галерия</h1><a href="@Url.Action("Index", "Home")">начало</a><i class="fa fa-angle-right"></i><a href="/testimonials/list">Галерия</a>
		</div>
	</div>
</section>
<!-- ! breadcrumbs end-->
<!-- content-->
<div class="container mt-40 pb-60">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="title-section mb-0 mt-0 text-center">Разгледайте нашите завършени проекти</h2>
			<div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
			<p class="text-center mb-0">Вижте какво казват за нашата услуга клиентите ни. Също така разгледайте как от вашите скици успяваме да направим завършени и качествени гардероби и мебели.</p>
		</div>
	</div>
	@foreach (TestimonialViewModel testimonial in Model)
	{
		<div class="row gallery-row">
			<div class="col-md-2">
				<div class="gallery-row-image-wrapper">
					@if (testimonial.OrderSketch != null)
					{
						@Html.ByteImage(testimonial.OrderSketch.Small, "Скица на продукта")
					}
					else
					{
						<img src="~/Content/img/missing-photo-fe.jpg" alt="Липсваща снимка" />
					}
					<i class="fa fa-angle-double-right"></i>
					<span>Скица</span>
				</div>
			</div>
			<div class="col-md-2">
				<div class="gallery-row-image-wrapper">
					@if (testimonial.OrderDesign != null)
					{
						@Html.ByteImage(testimonial.OrderDesign.Small, "Дизайн на продукта")
					}
					else
					{
						<img src="~/Content/img/missing-photo-fe.jpg" alt="Липсваща снимка" />
					}
					<i class="fa fa-angle-double-right"></i>
					<span>Модел</span>
				</div>
			</div>
			<div class="col-md-2">
				<div class="gallery-row-image-wrapper">
					@if (testimonial.OrderResult != null)
					{
						@Html.ByteImage(testimonial.OrderResult.Small, "Краен резултат")
					}
					else
					{
						<img src="~/Content/img/missing-photo-fe.jpg" alt="Липсваща снимка" />
					}
					<span>Резултат</span>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="widget_wrapper">
					<div class="testimonial">
						<div class="quote">@testimonial.Text</div>
						<div class="author">
							@Html.ByteImage(testimonial.ClientPhoto, "Снимка на доволен клиент", "testimonial-client-photo")
							<figure>
								<figcaption>
									@testimonial.ClientFullName @if (!string.IsNullOrEmpty(testimonial.ClientJobTitle)) { <span>[ @testimonial.ClientJobTitle ]</span> }
									<div class="stars"></div>
								</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cws_divider with-plus long color-line-1 mt-40"></div>
	}
	<div class="row">
		<div class="col-md-12">
			@Html.Partial("_Pager", ViewBag.PagingData as PagingData)
		</div>
	</div>
</div>