@using App.Models.Orders
@model ProductGalleryViewModel
@{
    ViewBag.Title = "Каталог";
}
	<!-- breadcrumbs start-->
	<section class="breadcrumbs">
		<div class="container">
			<div class="text-center breadcrumbs-item">
				<h1>Каталог</h1><a href="/">начало</a><i class="fa fa-angle-right"></i><a href="/products/list">Каталог</a>
			</div>
		</div>
	</section>
	<!-- ! breadcrumbs end-->
	<div class="container mt-40 pb-60 products-container">
		<div class="work-filter">
			<a href="#" data-filter="*" class="filter active">Всички</a>
			@foreach (var category in Model.Categories)
			{
				<a href="#" data-filter=".@category.Slug" class="filter">@category.Title</a>
			}
		</div>
		<div id="filter-grid" class="row cws-multi-col masonry portfolio-grid">
			@foreach (ProductViewModel product in Model.Products)
			{
				<div class="col-md-4 col-sm-6 all @product.CategorySlug">
					<!-- portfolio item-->
					<div class="portfolio-item text-center">
						<!-- media-->
						<div class="pic">
							@if (product.ResultImageSmall != null && product.ResultImageSmall.Length > 0)
							{
								@Html.ByteImage(product.ResultImageSmall, "Снимка на продукт")
							}
							else
							{
								<div style="width: 370px; height:310px;line-height:310px;">Липсваща снимка</div>
							}
							<!-- item content -->
							<div class="item-content">
								<h3 class="portfolio-title">@product.Title</h3>
								<p style="margin:0 0 0 15px; color:white;">Цена: @product.Price лв</p>
								@{
									var base64 = Convert.ToBase64String(product.ResultImageBig);
									var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
								 }
								<div class="links">
									<a href="@imgSrc" class="fa fa-search reorder-link fancy"></a>
									<a href="#" data-project-name="@product.Title" data-price="@product.Price" data-href="@Url.Action("Copy", "Orders", new { id = product.Id })" data-toggle="modal" data-target="#confirm-delete" class="fa fa-shopping-cart reorder-link"></a>
								</div>
							</div>
						</div>
					</div>
					<!-- ! portfolio item-->
				</div>
			}
		</div>
	</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		@if (this.Request.IsAuthenticated)
		{
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Потвърди поръчката</h4>
				</div>

				<div class="modal-body">
					<p>Сигурни ли сте, че искате да направите поръчката ?</p>
					<p class="order-preview"></p>
				</div>

				<div class="modal-footer">
					<button type="button" class="cws-button" data-dismiss="modal">Откажи</button>
					<a class="cws-button alt btn-ok">Поръчай</a>
				</div>
			</div>
		}
		else
		{
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Потвърди поръчката</h4>
				</div>

				<div class="modal-body">
					<p>За да направите поръчка ще е нужно да си направите безплатна регистрация!</p>
				</div>

				<div class="modal-footer">
					<a href="@Url.Action("Register", "Account")" class="cws-button alt">Регистрация</a>
				</div>
			</div>
		}
	</div>
</div>

@section Scripts {
	<script>
		$('#confirm-delete').on('show.bs.modal', function (e) {
			$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

			$('.order-preview').html('Име на проекта: <strong>' + $(e.relatedTarget).data('project-name') + '</strong>' + '<br/>' + 'Цена: ' + $(e.relatedTarget).data('price'));
		});

</script>
}