@using App.Models.Materials;
@model LivePreviewViewModel

@{
	ViewBag.Title = "Жива визуализация";
}

<!-- breadcrumbs start-->
<section class="breadcrumbs">
	<div class="container">
		<div class="text-center breadcrumbs-item">
			<h1>визуализация на живо</h1><a href="/">начало</a><i class="fa fa-angle-right"></i><a href="/products/livepreview">визуализация на живо</a>
		</div>
	</div>
</section>
<!-- ! breadcrumbs end-->
<!-- content-->
<div class="container mt-40 pb-60">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="title-section mb-0 mt-0 text-center">визуализация на живо</h2>
			<div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
			<p class="text-center mb-0">Разгледайте как изглеждат различните ни материали в различни комбинации.<br />Така по-лесно може да изберете подходящите за вас.</p>
		</div>
	</div>
	<div class="row live-preview-container" >
		<div class="col-md-9">
			<img class="preview-image" id="base-material-image" src="~/content/img/live-preview/materials/base-image.jpg" />
			<img class="preview-image" id="back-material-image" src="~/content/img/live-preview/materials/back/borneo-antik.png" />
			<img class="preview-image" id="front-material-image" src="~/content/img/live-preview/materials/front/borneo-antik.png" />
		</div>
		<div class="col-md-3">
			<div class="col-xs-6">
				<div id="back-material-buttons-container" class="order-category">
					Плоча за основа:<br />
					@foreach (var material in Model.SurfaceMaterials)
					{
						var base64 = Convert.ToBase64String(material.Image.Small);
						var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);

						<img src="@imgSrc" alt="@material.Name" data-toggle="tooltip" data-material-slug="@material.Slug" title="@material.Name" />
					}
				</div>
			</div>
			<div class="col-xs-6">
				<div id="front-material-buttons-container" class="order-category">
					Плоча за врати:<br />
					@foreach (var material in Model.SurfaceMaterials)
					{
						var base64 = Convert.ToBase64String(material.Image.Small);
						var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);

						<img src="@imgSrc" alt="@material.Name" data-toggle="tooltip" data-material-slug="@material.Slug" title="@material.Name" />
					}
				</div>
			</div>
		</div>
	</div>
	<div id="materials"></div>
</div>
<!-- ! content-->
<div class="cws_divider with-plus long color-line-1 mt-40"></div>
<section class="page-section mb-0 pb-60 pt-40 bg-gray-2">
	<div class="container materials-container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="title-section text-center mt-0 mb-0">Материали</h2>
				<div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
				<p class="text-center mb-30">Използваните материали, които са вложени във вашите мебели са от водещи фирми в този бранш. <br/> С времето те са се  доказали и утвърдили със своето качество и издръжливост в производството на мебели.</p>
			</div>
		</div>
		<div class="row">
			@{ int counter = 0;}
			@foreach (var category in Model.MaterialCategories)
			{
				<div class="col-md-3">
					<a href="@Url.Action("List", "Materials", new { id = category.Id })">
						<div class="service-wrapper" data-category-id="@category.Id">
							@if (category.Image != null)
							{
								@Html.ByteImage(category.Image.Small, category.Name)
							}
							else
							{
								<div style="width: 262px; height: 190px;line-height:190px;text-align:center;border: 5px solid white;">
									<p>-- Липсва изображение -- </p>
								</div>
							}
							<div class="service-wrapper-text">
								<h3>@category.Name</h3>
								<p>@category.Description</p>
								@if (category.Pdf != null)
								{
									<a href="@Url.Action("Show", "Document", new { id = category.Pdf.Id })" class="cws-button gray download-pdf-button">Свали PDF</a>
								}
							</div>
						</div>
					</a>
				</div>

				counter++;
				if (counter % 4 == 0 && counter != 0)
				{
					@:</div>
					@:<div class="row mt-40">
				}
			}
		</div>
		<p class="mt-30">* За повече  информация относно видовете предлагани материали, моля обадете се на телефона за помощ и консултация: 0877-977-156; 0877-977-165</p>
	</div>
</section>

@section Scripts {

	<script src="~/Content/js/live-preview.js"></script>
	@*<script>
			var categoryWrapper = $('.service-wrapper');
			categoryWrapper.on('click', function () {
				var clickedElement = $(this);
				var categoryId = clickedElement.data('category-id');
				window.location.href = '/materials/list/' + categoryId;
			})
		</script>*@
}