@using App.Models.Orders;
@model IEnumerable<OrderViewModel>
@{
	ViewBag.Title = "Склад";
}


<!-- breadcrumbs start-->
<section class="breadcrumbs">
	<div class="container">
		<div class="text-center breadcrumbs-item">
			<h1>Склад</h1><a href="#">начало</a><i class="fa fa-angle-right"></i><a href="#">Склад</a>
		</div>
	</div>
</section>
<!-- ! breadcrumbs end-->
<!-- content-->
<div class="container mt-40">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="title-section mb-0 mt-0 text-center">Текущи проекти</h2>
			<div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
			<p class="text-center mb-0">Тук може да разгледате Вашите текущи проекти, както и други неща които сте добавили във Вашият склад. Може да направите поръчка, да изтриете даден проект, да определите дали искате да се възползвате от услугата монтаж, както да видите кога е направен вашият проект и какъв е неговият статус.</p>
		</div>
	</div>
</div>
<div class="container warehouse-container">
	<div class="row">
		<div class="col-md-12">
			<a href="" class="cws-button with-icon alt calculator-head-button">Склад<i class="fa fa-home calculator-icon"></i></a>
		</div>
	</div>
	<div class="row gallery-row">
		@if (Model.Count() > 0)
			{
			<div class="col-md-7">
				@foreach (var order in Model)
				{
				<!-- Wardrobe item -->
					<div class="row">
						<div class="col-md-4">
							<div class="gallery-row-image-wrapper">
								@if (order.SketchImage.Length > 0)
								{
									@Html.ByteImage(order.SketchImage, "warehouse-image", "", order.Title + " Скица", order.Title + " Скица")
								}
								else
								{
									<img src="~/content/img/warehouse/waiting.jpg" alt="@order.Title" />
								}
								<i class="fa fa-angle-double-right"></i>
								<span>Скица</span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="gallery-row-image-wrapper">
								@if (order.DesignImage.Length > 0)
								{
									@Html.ByteImage(order.DesignImage, "warehouse-image", "", order.Title + " 3D модел", order.Title + " 3D модел")
								}
								else
								{
									<img src="~/content/img/warehouse/waiting.jpg" alt="@order.Title" />
								}
								<i class="fa fa-angle-double-right"></i>
								<span>Модел</span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="gallery-row-image-wrapper">
								@if (order.ResultImage.Length > 0)
								{
									@Html.ByteImage(order.ResultImage, "warehouse-image", "", order.Title + " 3D модел", order.Title + " 3D модел")
								}
								else
								{
									<img src="~/content/img/warehouse/waiting.jpg" alt="@order.Title" />
								}
								<span>Резултат</span>
							</div>
						</div>
					</div>
					<div class="row mt-30">
						<div class="col-md-6">
							<p>
								Име: @order.Title<br />
								@if (order.State == OrderState.Done) { @Html.Raw(string.Format("Направен на: {0}<br />", order.CompleteDate.ToLongDateString())); }
								@if (order.Price > 0) { @Html.Raw(string.Format("Цена: {0} лв", order.Price)); }
							</p>
						</div>
						<div class="col-md-2 col-md-offset-4">
							<span class="count-label">Брой:</span>
							<div class="selection-box" style="background-color:white;">
								<select>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
							</div>
							<div class="checkbox mt-10">
								<input id="checkbox1" type="checkbox" value="None" name="check">
								<label for="checkbox1">Монтаж</label>
							</div>
						</div>
					</div>
					<div class="row" style="padding-right:20px;padding-top:20px;">
						<div class="col-xs-3 col-xs-offset-6">
							<a class="cws-button alt order-now-add-button" href="#">Добави</a>
						</div>
						<div class="col-xs-3">
							<a class="cws-button gray alt order-now-add-button" href="#">Премахни</a>
						</div>
					</div>
					<div class="cws_divider with-plus long mt-40 mb-40"></div>
				<!-- Wardrobe item end -->
				}
			</div>
			<div class="col-md-4 col-sm-offset-1">
				<div class="order-container">
					<h3>Поръчка</h3>
					<table>
						<thead>
							<tr>
								<td>Продукт</td>
								<td>бр.</td>
								<td>цена</td>
								<td></td>
							</tr>
						</thead>
						<tr>
							<td>Трикрилен гардероб</td>
							<td>1&nbsp;бр</td>
							<td>580&nbsp;лв</td>
							<td><a href="#"><i class="fa fa-remove"></i></a></td>
						</tr>
						<tr>
							<td>Гардероб с плъзгащи се врати</td>
							<td>1&nbsp;бр</td>
							<td>852&nbsp;лв</td>
							<td><a href="#"><i class="fa fa-remove"></i></a></td>
						</tr>
					</table>

					<table>
						<thead>
							<tr>
								<td></td>
							</tr>
						</thead>
						<tr>
							<td>Общо цена:</td>
							<td>2548 лв</td>
						</tr>
						<tr>
							<td>Доставка:</td>
							<td>0 лв</td>
						</tr>
						<tr>
							<td>Монтаж:</td>
							<td>58 лв</td>
						</tr>
					</table>
					<table>
						<thead>
							<tr>
								<td></td>
							</tr>
						</thead>
						<tr class="total-price-row">
							<td>Общо:</td>
							<td>3512 лв</td>
						</tr>
						<tr>
							<td></td>
							<td><a class="cws-button white" href="#">Поръчай</a></td>
						</tr>
					</table>
				</div>

			</div>
			}
			else
			{
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Склада е празен</h3>
					</div>
					<div class="panel-body">
						<p><strong>Вашият склад</strong> е празен!</p>
						<p>
							Когато направите поръчка при нас - тук ще може да следите нейния статус. Ако не сте сигурни как точно да направите скицата за вашия проект може да прочетете в нашата <a href="/make">"Направи"</a> секция.
						</p>
						<p>Ако сте готови да направите поръчка, да качите вашите скици от тук:</p>
						<a href="@Url.Action("Make", "Orders")" class="cws-button gray alt pull-right">Качи скици</a>
					</div>
				</div>
			</div>
			}

	</div>
</div>
<div style="clear:both;margin-top:60px;">&nbsp;</div>
<!-- ! content-->