@using App.Models.Orders;
@model CartViewModel
@{
	ViewBag.Title = "Склад";
}


<!-- breadcrumbs start-->
<section class="breadcrumbs">
	<div class="container">
		<div class="text-center breadcrumbs-item">
			<h1>Склад</h1><a href="#">начало</a><i class="fa fa-angle-right"></i><a href="#">Склад</a>
		</div>
	</div>
</section>
<!-- ! breadcrumbs end-->
<!-- content-->
<div class="container mt-40">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="title-section mb-0 mt-0 text-center">Текущи проекти</h2>
			<div class="cws_divider with-plus short-3 center mb-20 mt-10"></div>
			<p class="text-center mb-0">Тук може да разгледате Вашите текущи проекти, както и други неща които сте добавили във Вашият склад. Може да направите поръчка, да изтриете даден проект, да определите дали искате да се възползвате от услугата монтаж, както да видите кога е направен вашият проект и какъв е неговият статус.</p>
		</div>
	</div>
</div>
<div class="container warehouse-container">
	<div class="row">
		<div class="col-md-12">
			<a href="" class="cws-button with-icon alt calculator-head-button">Склад<i class="fa fa-home calculator-icon"></i></a>
		</div>
	</div>
	<div class="row gallery-row">
		@if (Model.Orders.Count() > 0)
			{
			<div class="col-md-7">
				@foreach (OrderViewModel order in Model.Orders)
				{
				<!-- Wardrobe item -->
					<div class="row">
						<div class="col-md-4">
							<div class="gallery-row-image-wrapper">
									@if (order.SketchImage != null)
									{
										<div class="gallery-row-image-wrapper">
											@if (order.SketchImage != null)
											{
												var base64 = Convert.ToBase64String(order.SketchImage.Big);
												var bigImgSrc = String.Format("data:image/jpg;base64,{0}", base64);

												<div class="pic">
													@Html.ByteImage(order.SketchImage.Small, order.Title + " Скица", "warehouse-image", "", order.Title + " 3D модел")
													<a href="@bigImgSrc" class="hover-effect alt fancy"><span class="plus fa fa-expand"></span></a>
												</div>
											}
											else
											{
												<img src="~/Content/img/missing-photo-fe.jpg" class="warehouse-image" alt="Липсваща снимка" />
											}
											<span>Скица</span>
										</div>
									}
								else
								{
									<img src="~/content/img/warehouse/waiting.jpg" alt="@order.Title" />
								}
								<i class="fa fa-angle-double-right"></i>
								<span>Скица</span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="gallery-row-image-wrapper">
								@if (order.DesignImage != null)
								{
									<div class="gallery-row-image-wrapper">
										@if (order.DesignImage != null)
										{
											var base64 = Convert.ToBase64String(order.DesignImage.Big);
											var bigImgSrc = String.Format("data:image/jpg;base64,{0}", base64);

											<div class="pic">
												@Html.ByteImage(order.DesignImage.Small, order.Title + " 3D модел", "warehouse-image", "", order.Title + " 3D модел")
												<a href="@bigImgSrc" class="hover-effect alt fancy"><span class="plus fa fa-expand"></span></a>
											</div>
										}
										else
										{
											<img src="~/Content/img/missing-photo-fe.jpg" class="warehouse-image" alt="Липсваща снимка" />
										}
										<i class="fa fa-angle-double-right"></i>
										<span>Скица</span>
									</div>
								}
								else
								{
									<img src="~/content/img/warehouse/waiting.jpg" class="warehouse-image" alt="@order.Title" />
								}
								<i class="fa fa-angle-double-right"></i>
								<span>Модел</span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="gallery-row-image-wrapper">
								@if (order.ResultImage != null)
								{
									<div class="gallery-row-image-wrapper">
										@if (order.ResultImage != null)
										{
											var base64 = Convert.ToBase64String(order.ResultImage.Big);
											var bigImgSrc = String.Format("data:image/jpg;base64,{0}", base64);

											<div class="pic">
												@Html.ByteImage(order.ResultImage.Small, order.Title + " Резултат", "warehouse-image", "", order.Title + " Резултат")
												<a href="@bigImgSrc" class="hover-effect alt fancy"><span class="plus fa fa-expand"></span></a>
											</div>
										}
										else
										{
											<img src="~/Content/img/missing-photo-fe.jpg" class="warehouse-image" alt="Липсваща снимка" />
										}
										<span>Скица</span>
									</div>
								}
								else
								{
									<img src="~/content/img/warehouse/waiting.jpg" class="warehouse-image" alt="@order.Title" />
								}
								<span>Резултат</span>
							</div>
						</div>
					</div>
					<div class="row mt-30">
						<div class="col-md-6">
							<p>
								Име: @order.Title<br />
								@if (order.State == OrderState.Done)
								{ @Html.Raw(string.Format("Направен на: {0}<br />", order.CompleteDate.ToLongDateString()));
								}
								@if (order.Price > 0)
								{ @Html.Raw(string.Format("Цена: {0} лв", order.Price));
								}
								@if (order.State == OrderState.New)
								{ @Html.Raw("<strong>Вашата заявка се обработва!</strong>") } <!-- TODO: improve the design if those messages -->
								@if (order.State == OrderState.InProduction)
								{ @Html.Raw("<br/><strong>Поръчката Ви е приета и се изработва!</strong> <br/> Ще получите известие веднага след като сме готови!") } <!-- TODO: improve the design if those messages -->
							</p>
						</div>
						@if (order.State == OrderState.WaitingClientResponse || order.State == OrderState.Done)
						{
							<div class="col-md-2 col-md-offset-4">
								<span class="count-label">Брой:</span>
								<div class="selection-box" style="background-color:white;">
									@{
										string disabled = string.Empty;
										if (order.IsInCart || order.State == OrderState.Done)
										{
											disabled = "disabled";
										}
									}
									<select @disabled id="@Html.Raw("order-count-ddl-" + order.Id)">
										@for (int i = 1; i <= 10; i++)
										{
											if (i == order.Count)
											{
												<option selected>@i</option>
											}
											else
											{
												<option>@i</option>
											}
										}
									</select>
								</div>
								<div class="checkbox mt-10">
									@{
										string isChecked = string.Empty;
										if (order.Installation)
										{
											isChecked = "checked";
										}
									}
									<input @disabled id="installationcb-@order.Id" @isChecked class="installationcb" type="checkbox" value="None" name="check">
									<label for="installationcb-@order.Id">Монтаж</label>
								</div>
							</div>
										}
					</div>
					<div class="row" style="padding-right:20px;padding-top:20px;">
						@if ((order.State == OrderState.WaitingClientResponse) && !order.IsInCart)
						{
							<div class="col-xs-3 col-xs-offset-9">
								<div class="alert alert-danger add-cart-fail">
									<p>Неуспешно!</p>
								</div>
								<div class="alert alert-success add-cart-success">
									<p>Успешно!</p>
								</div>
								<p class="add-cart-loading"><i class="fa fa-refresh fa-spin fa-fw"></i>Добавяне ...</p>
								@Ajax.ActionLink(
									"Добави в кошницата",
									"AddCartItem",
									new { orderId = order.Id },
									new AjaxOptions
									{
										HttpMethod = "Post",
										OnBegin = "addToCartBegin",
										OnFailure = "addToCartFail",
										OnSuccess = "addToCartSuccess"
									},
									new { @class = "cws-button alt order-now-add-button", data_orderid = order.Id })<br />
							</div>
						}

						@if (order.State == OrderState.Done)
						{
							<div class="col-xs-12">
								<a class="cws-button alt add-testimonial-btn" href="@Url.Action("AddTestimonial", new { id = order.Id })">Добави Атестат</a>
								<a href="#" data-project-name="@order.Title" data-price="@order.Price" data-href="@Url.Action("Copy", "Orders", new { id = order.Id })" data-toggle="modal" data-target="#confirm-delete" class="cws-button alt add-testimonial-btn">Поръчай отново</a>
							</div>
						}
					</div>

							<div class="cws_divider with-plus long mt-40 mb-40"></div>
				<!-- Wardrobe item end -->
				}
			</div>
			<div class="col-md-4 col-sm-offset-1">
				<div id="order-container" class="order-container">
					<h3>Кошница</h3>
					<div class="basket-full-view">
						<table>
							<thead>
								<tr>
									<td>Продукт</td>
									<td>Монтаж</td>
									<td>бр.</td>
									<td>цена</td>
									<td></td>
								</tr>
							</thead>
							<tbody class="basket-items-container">
								@foreach (OrderViewModel order in Model.Cart)
								{
									<tr>
										<td>@order.Title</td>
										<td class="js-installation" style="text-align:center;">
											@if (order.Installation)
											{
												@:Да
											}
											else
											{
												@:Не
											}
										</td>
										<td class="js-count">@order.Count</td>
										<td class="js-price">@order.Price</td>
										<td>
											@Ajax.ActionLink(
												" ",
												"RemoveCartItem",
												new { orderId = order.Id },
												new AjaxOptions
												{
													HttpMethod = "Post",
													OnBegin = "removeFromCartBegin",
													OnFailure = "removeFromCartFail",
													OnSuccess = "removeFromCartSuccess"
												},
												new { @class = "fa fa-remove", data_orderId = order.Id })
										</td>
									</tr>
								}
							</tbody>
						</table>
						<table>
							<thead>
								<tr>
									<td></td>
								</tr>
							</thead>
							<tr>
								<td>Общо цена:</td>
								<td><span class="js-total-price">0</span> лв</td>
							</tr>
							<tr>
								<td>Доставка:</td>
								<td>0 лв</td>
							</tr>
							<tr>
								<td>Монтаж:</td>
								<td><span class="js-total-installation-price">0</span> лв</td>
							</tr>
						</table>
						<table>
							<thead>
								<tr>
									<td></td>
								</tr>
							</thead>
							<tr class="total-price-row">
								<td>Общо:</td>
								<td><span class="js-total-final-price">0</span> лв</td>
							</tr>
							<tr>
								<td>
									<div class="selection-box" style="background-color:white;margin-top:10px;">
										<select class="js-payment-type">
											<option value="not-selected">-- Плащане --</option>
											<option value="bank">По Банков път</option>
											<option value="delivery">При Доставка</option>
										</select>
									</div>
								</td>
								<td>
									@Ajax.ActionLink(
											"Поръчай",
											"OrderNow",
											null, 
											new AjaxOptions
											{
												HttpMethod = "Post",
												OnBegin = "orderNowBegin",
												OnFailure = "orderNowFail",
												OnSuccess = "orderNowSuccess"
											},
											new { @id="order-now-btn", @class = "cws-button white" })
									@*<a class="cws-button white" href="#">Поръчай</a>*@
								</td>
							</tr>
						</table>
					</div>
					<div class="basket-empty-view">
						<i class="fa fa-shopping-basket"></i>
						<p>Вашата кошница е празна!</p>
						<p>Използвайте бутона "Добави в кошницата" за да добавите артикул в кошницата.</p>
					</div>
					<div class="basket-success-view">
						<i class="fa fa-check-circle"></i>
						<h3>Поръчката Ви е изпратена!</h3>
						<p>Поръчката ви беше успешно приета при нас за изработка. Ако имате някакви допълнителни въпроси, не се колебайте да се свържете с нас на телефон: 0877-977-156</p>
					</div>
					<div class="basket-loading-view">
						<i class="fa fa-refresh fa-spin fa-fw"></i>
						<h3>Изпращане ...</h3>
						<p>Поръчката ви се изпраща за обработка. Моля изчакайте!</p>
					</div>
					<div class="basket-fail-view">
						<i class="fa fa-remove"></i>
						<h3>Грешка!</h3>
						<p>Възникна сървърна грешка! Моля свържете се с администратор за съдействие!</p>
					</div>
				</div>

			</div>
			}
			else
			{
				<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Склада е празен</h3>
						</div>
						<div class="panel-body">
							<p><strong>Вашият склад</strong> е празен!</p>
							<p>
								Когато направите поръчка при нас - тук ще може да следите нейния статус. Ако не сте сигурни как точно да направите скицата за вашия проект може да прочетете в нашата <a href="/make">"Направи"</a> секция.
							</p>
							<p>Ако сте готови да направите поръчка, да качите вашите скици от тук:</p>
							<a href="@Url.Action("Make", "Orders")" class="cws-button gray alt pull-right">Качи скици</a>
						</div>
					</div>
				</div>
			}

	</div>
</div>
<div style="clear:both;margin-top:60px;">&nbsp;</div>
<!-- ! content-->

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Потвърди поръчката</h4>
			</div>

			<div class="modal-body">
				<p>Сигурни ли сте, че искате да направите поръчката ?</p>
				<p class="order-preview"></p>
			</div>

			<div class="modal-footer">
				<button type="button" class="cws-button" data-dismiss="modal">Откажи</button>
				<a class="cws-button alt btn-ok">Поръчай</a>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script src="~/Scripts/order-page.js"></script>

	<script>
		$('#confirm-delete').on('show.bs.modal', function (e) {
			$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

			$('.order-preview').html('Име на проекта: <strong>' + $(e.relatedTarget).data('project-name') + '</strong>' + '<br/>' + 'Цена: ' + $(e.relatedTarget).data('price'));
		});
	</script>
}