<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="@ViewBag.MetaDescription">

	<title>@ViewBag.Title</title>
	<link rel="icon" type="image/vnd.microsoft.icon" href="~/Content/img/fav.ico" />

	@Styles.Render("~/bundles/garderob-fe-styles")
	@RenderSection("styles", required: false)

</head>
<body>
	<header>
		<div class="site-top-panel">
			<div class="container p-relative">
				<div class="row">
					<div class="col-sm-4">
						<div class="top-left-wrap">
							<div class="social-wrap">
								<a href="http://facebook.com" title="Facebook" class="cws_social_link" target="_blank"><i class="share-icon fa fa-facebook"></i></a>
								<a href="https://www.instagram.com" title="Instagram" class="cws_social_link" target="_blank"><i class="share-icon fa fa-instagram"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4" style="text-align:center;">
						<h4 class="headline"><a style="font-weight:bold;letter-spacing:1px;color: #58585a;" href="/">Tvoiat<span style="color: #237dc8;">Garderob</span>.bg</a></h4>
						<!-- Test -->
					</div>
					@Html.Partial("_ProfileLinks")
					<div class="search_menu_cont">
						<form role="search" method="get" class="form">
							<div class="search-wrap">
								<input type="text" placeholder="Search . . ." class="form-control search-field">
							</div>
						</form>
						<div class="search_back_button"><i class="fa fa-close"></i></div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-nav js-stick">
			<div class="full-wrapper relative clearfix container">
				<div class="nav-logo-wrap local-scroll"><a href="@Url.Action("Index", "Home")" class="logo"><img src="~/Content/img/logo-garderob-v2.png" alt><img src="~/Content/img/logo-garderob-v2.png" alt class="sticky-logo"></a></div>
				<div class="inner-nav desktop-nav switch-menu items-visible">
					<ul class="clearlist">
						<li><a href="@Url.Action("Index", "Home")">Начало</a></li>
						<li><a href="/make">Направи</a></li>
						<li><a href="@Url.Action("LivePreview", "Products")">Материали</a></li>
						<li><a class="small-nav-text" href="@Url.Action("Calculator", "Products")">Калкулатор</a></li>
						<li>
							<a href="/services" class="mn-has-sub">Услуги <i class="fa fa-angle-down button_open"></i></a>
							<ul class="mn-sub">
								<li><a class="small-nav-text" href="/services">Услуги</a></li>
								<li><a class="small-nav-text" href="/price">Цени и плащания</a></li>
								<li><a class="small-nav-text" href="/faq">Често задавани въпроси</a></li>
								<li><a class="small-nav-text" href="/about">За Нас</a></li>
								<li><a class="small-nav-text" href="/terms">Общи условия</a></li>
							</ul>
						</li>
						<li><a href="@Url.Action("List", "Testimonials")">Галерия</a></li>
						<li><a href="@Url.Action("Contact", "Home")">Контакти</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="content-body">
		@RenderBody()
	</div>

	<footer class="footer footer-fixed">
		<div class="container">
			<div class="row cws-multi-col">
				<div class="col-md-3 col-sm-6 mb-md-50">
					<div class="widget-footer text">
						<h3><span style="font-weight:700;">ТВОЯТ</span><br />ГАРДЕРОБ</h3>
						<div class="cws_divider with-plus short-2 mb-5 mt-10"></div>
						<p>Всичко от което се нуждаеш за да направиш твоя индивидуален гардероб е идея, молив и лист.</p>
						<div class="footer-cws-social mt-25">
							<a href="https://www.facebook.com/" class="cws-social flaticon-social-4" target="_blank"></a>
							<a href="https://www.instagram.com" class="cws-social flaticon-social-network" target="_blank"></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb-md-50">
					<div class="widget-footer">
						<h3>Полезни връзки</h3>
						<div class="cws_divider with-plus short-2 mb-5 mt-10"></div>
						<ul>
							<li><a href="@Url.Action("Contact", "Home")">Контакти</a> <a href="/make">Направи гардероб</a></li>
							<li><a href="/services">Услуги</a> <a href="@Url.Action("Make", "Orders")">Качи проект</a></li>
							<li><a href="@Url.Action("List", "Testimonials")">Галерия</a> <a href="@Url.Action("Calculator", "Products")">Калкулатор</a></li>
							<li><a href="/terms">Условия</a> <a href="/faq">Често задавани въпроси</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-sm-6 mb-sm-50">
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="widget-footer">
						<h3>Моят профил</h3>
						<div class="cws_divider with-plus short-2 mb-5 mt-10"></div>
						@if (this.Request.IsAuthenticated)
						{
							<address>
								<p>Следи статуса на своите <br /> поръчки в твоя:</p>
							</address>
							<div class="footer-form-wrap">
								<a href="@Url.Action("Orders", "Warehouse")" class="newsletter-submit cws-button alt">Склад</a>
							</div>
						}
						else
						{
							<address>
								<p>Регистрирай се за да следиш статуса на свойте поръчки:</p>
							</address>
							<div class="footer-form-wrap">
								<a href="@Url.Action("Register", "Account")" class="newsletter-submit cws-button alt">Регистрация</a>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<p><span>Твоят</span> Гардероб - @DateTime.Now.Year</p>
					</div>
					<div class="col-sm-7 text-right">
						<a href="@Url.Action("Index", "Home")" class="footer-nav">Начало</a>
						<a href="/make" class="footer-nav">Направи Гардероб</a>
						@*<a href="#" class="footer-nav">Материали</a>*@
						<a href="/price" class="footer-nav">Цени и плащания</a>
						<a href="/services" class="footer-nav">Услуги</a>
						<a href="@Url.Action("List", "Testimonials")" class="footer-nav">Галерия</a>
						<a href="@Url.Action("Contact", "Home")" class="footer-nav">Контакти</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
	<div class="login-popup">
		<div class="login-popup-wrap">
			<div class="title-wrap">
				<h2>Вход</h2><i class="close-button flaticon-cross"></i>
			</div>
			<div class="login-content">
				<form class="form">
					@Html.AntiForgeryToken()
					<input type="text" name="email" value="" size="40" placeholder="Въведи Email ..." aria-required="true" class="form-row form-row-first">
					<input type="password" name="password" value="" size="40" placeholder="Въведи Парола ..." aria-required="true" class="form-row form-row-last">
				</form>
				<div class="remember">
					<div class="checkbox">
						<input id="checkbox3" type="checkbox" value="None" name="check">
						<label for="checkbox3">Запомни ме</label>
					</div>@*<a href="#">Забравена парола ?</a>*@
				</div><a id="login-button" class="cws-button gray alt full-width mt-20">Влез</a>
				<span id="login-status" class="label label-info">Влизане в системата ...</span>
			</div>
			<div class="login-bot">
				<p>Все още нямаш акаунт ? <a href="/account/register">Регистрирай се</a></p>
			</div>
		</div>
	</div>

	@Scripts.Render("~/bundles/garderob-fe-scripts")
	@RenderSection("scripts", required: false)
</body>
</html>
