@model App.Models.Pages.PagingData

<ul class="pagination">

	<li>
		@if (Model.DisplayPrev)
		{
			<a class="pager-previous" href="@Model.PrevUrl">Previous</a>
		}
		else
		{
			<a class="pager-previous disabled">Previous</a>
		}
	</li>
	@foreach (var urlItem in Model.Urls)
	{
		string isActive = urlItem.IsSelected == true ? "active" : "";

		<li class="@isActive">
			@if (!string.IsNullOrEmpty(urlItem.Url))
			{
				<a href="@urlItem.Url">@urlItem.Text</a>
			}
			else
			{
				<a href="#">...</a>
			}
		</li>
	}

	<li>
		@if (Model.DisplayNext)
		{
			<a class="pager-next" href="@Model.NextUrl">Next</a>
		}
		else
		{
			<a class="pager-next disabled">Next</a>
		}
	</li>
</ul>