@model App.Web.Models.RegisterViewModel
@{
	ViewBag.Title = "Register";
}

<!-- content-->
<!-- breadcrumbs start-->
<section class="breadcrumbs">
	<div class="container">
		<div class="text-center breadcrumbs-item">
			<h1>Рeгистрация</h1><a href="#">начало</a><i class="fa fa-angle-right"></i><a href="#">Регистрация</a>
		</div>
	</div>
</section>
<!-- ! breadcrumbs end-->
<div class="container pb-60">
	<div class="row registration-row">
		<div class="col-md-6">
			<h3>Регистрация на нов потребител:</h3>
			<div class="widget-contact-form pb-0">
				<!-- contact-form-->
				@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "registration-form", @class = "form contact-form alt clearfix" }))
				{
					@*@using (Ajax.BeginForm("Register", "Account", null, new AjaxOptions { UpdateTargetId = "result" },
						new { @class = "form contact-form alt clearfix", @id = "result" }))
							{*@
					@Html.AntiForgeryToken()
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					@Html.LabelFor(model => model.Email) 
					@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.Email)
					<br />

					@Html.LabelFor(model => model.Password) 
					@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.Password)
					<br />

					@Html.LabelFor(model => model.ConfirmPassword) 
					@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.ConfirmPassword)
					<br />

					@Html.LabelFor(model => model.FirstName)
					@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.FirstName)
					<br />

					@Html.LabelFor(model => model.LastName)
					@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.LastName)
					<br />

					@Html.LabelFor(model => model.JobTitle)
					@Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.JobTitle)
					<br />

					@Html.LabelFor(model => model.Company)
					@Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.Company)
					<br />

					@Html.LabelFor(model => model.City)
					@Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.City)
					<br />

					@Html.LabelFor(model => model.Address)
					@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.Address)
					<br />

					@Html.LabelFor(model => model.DeliveryAddress)
					@Html.ValidationMessageFor(model => model.DeliveryAddress, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.DeliveryAddress)
					<br />

					@Html.LabelFor(model => model.Phone)
					@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.Phone)
					<br />

					@Html.LabelFor(model => model.InvoiceData)
					@Html.ValidationMessageFor(model => model.InvoiceData, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.InvoiceData)
					<br />
					<div class="checkbox">
						@Html.EditorFor(model => model.TermsAccepted)
						@Html.LabelFor(model => model.TermsAccepted)
						@Html.ValidationMessageFor(model => model.TermsAccepted, "", new { @class = "text-danger" })
					</div>
						<button type="submit" class="cws-button alt full-width">
							Регистрирай
						</button>
				}
				<!-- ! contact-form-->
			</div>
		</div>
		<div class="col-md-6 terms-container">
			<h3>Общи условия:</h3>
			
			<p>ОБЩИ УСЛОВИЯ ЗА ПОЛЗВАНЕ НА УСЛУГИТЕ НА TvoiatGarderob.bg
ВНИМАНИЕ! Внимателно прочетете тези Общи условия, преди да използвате този уеб сайт. Ако използвате този уеб сайт се счита, че приемате и сте съгласни с посочените Общи условия. Ако НЕ ПРИЕМАТЕ тези условия, не използвайте този уеб сайт!
Настоящите ОБЩИ УСЛОВИЯ уреждат взаимоотношенията между "Братя Стоилови" ООД като собственик на домейн tvoiatgarderob.bg от една страна и Потребителите на електронни (Интернет) страници и услуги, намиращи се на домейн tvoiatgarderob.bg и поддомейните му (наричани за краткост Сайт), както и отношенията със същите, когато използват информационните и търговски услуги предлагани от "Братя Стоилови" ООД и лицензополучателите му.  (наричани за краткост Услуги).
Тези общи условия обвързват всички потребители, които извършват регистрация на сайта www.tvoiatgarderob.bg. С натискането на всеки един обект, линк или бутон, разположени на страниците на TvoiatGarderob.bg (с изключение на линка към настоящите Общи условия), Потребителят се съгласява, изцяло приема и се задължава да спазва настоящите Общи условия.
"Братя Стоилови" ООД е дружество, регистрирано в Република България, със седалище и адрес на управление: гр.София, ж.к. Манастирски ливади - изток
              ул. 413; вписано в Агенция по вписванията с ЕИК 204631876.</p>


<p>СЪДЪРЖАНИЕ<p/>
  <p>I.	Условия за използване на Сайта на tvoiatgarderob.bg   </p>                                             
<p>II.	Задължения на потребителя при регистриране     </p>                                            
<p>III.	Защита на личните данни. Конфиденциална политика на tvoiatgarderob.bg</p>
<p>IV.	Авторски права и ограничения свързани с тях  </p>                                              
<p>V.	Стандартни стоки   </p>                                                                                              
<p>1.	Представяни стоки и услуги на Сайта      </p>                                                        
<p>2.	Закупуване на Стока и/ или Услуга, представена във tvoiatgarderob.bg </p>                
<p>3.	Доставка на закупени стоки   </p>                                                                             
<p>4.	Заплащане на закупени стоки и услуги    </p>                                                         
<p>5.	Отказ от закупена стока                    </p>                                                                   
<p>VI.	Гаранционно обслужване    </p>                                                                               
<p>VII.	Бисквитки( Cookies) и ремаркетинг    </p>
<p>VIII.	Други  <p/>                                                              
                                                                                                                   

<p>I.	Условия за използване на Сайта на TvoiatGarderob.bg</p>
<p>Потребителят разбира и декларира съгласието си с обстоятелството, че информационните услуги и Сайта се предоставят "във вида, в който са публикувани" и факта, че TvoiatGarderob.bg не носи отговорност за точността на публикуваната информация и навременното доставяне на информация относно завършени поръчки на Потребителя, негови или на други Потребители запитвания, въпроси и коментари за продукти, информация за не- налични продукти, както и за претърпени вреди и /или пропуснати ползи и други загуби от какъвто и да било вид и размер, настъпили след, в резултата на или поради използване (или пък невъзможност за използване, поради технически проблеми, профилактика, решения на администратора и др.) на Сайта. В случай, че в следствие на използването на този Сайт или материали от него възникнат вреди, за които е необходим ремонт или поправка на оборудване или информация, Потребителят поема цялата отговорност и всички разходи, свързани с отстраняването на нанесените вреди.
Потребителят е информиран и декларира съгласието си, че част от стоките и услуги, публикувани на Сайта, могат да бъдат посочени като налични в магазинната мрежа, но да няма наличност от тези стоки и продукти, както и аксесоари към тях при заявяване на поръчка на тези стоки чрез on-line системата за покупки.
Потребителят е информиран и декларира съгласието си, че заявената от него поръчка може да претърпи промени, които TvoiatGarderob.bg се задължава да съобщи на потребителя на предоставения от него е-мейл и/или телефон за контакти и/или по друг подходящ начин до момента на получаване на потвърждение за окончателното изпращане на потвърдената поръчка до адреса на потребителя.
За да използва Сайта, Потребителят трябва да получи достъп до World Wide Web пряко или чрез други устройства, които имат достъп до Web базирано съдържание. Освен това Потребителят трябва да си осигури цялото необходимо за достъп до World Wide Web оборудване, включително компютър, модем или друго средство за достъп до Интернет мрежата. TvoiatGarderob.bg само предоставя информацията на Сайта и не отговаря за каквито и да било смущения или технически проблеми, осуетяващи използването на Сайта, вследствие експлоатирането на компютърното оборудване от Потребителя.
</p>
<p>II.	Задължения на потребителя при регистриране</p>
<p>За целите на използване на Сайта на tvoiatgarderob.bg, Потребителят се съгласява и декларира, че ще предостави вярна, точна, актуална и пълна информация при попълване на регистрационната форма (наричана оттук нататък с общото наименование Лични данни); В случай, че Потребителят предостави невярна, неточна, неактуална или непълна информация, tvoiatgarderob.bg има право да закрие и/или изтрие информацията за неговия пощенски адрес и да му откаже по-нататъшен достъп до част или до всички свои услуги, както и tvoiatgarderob.bg не носи отговорност за невярно и/или неточно изпълнена поръчка, извършена във връзка с получената от потребителя информация.
</p>

<p>III.	Защита на личните данни. Конфиденциална политика на TvoiatGarderob.bg</p>
<p>Съгласно Закона за защита на личните данни, Потребителят има право на достъп до собствените си Лични данни, които е въвел и/или са станали достояние на tvoiatgarderob.bg при използване на Сайта, както и за целите на извършване на поправка в предоставените Лични данни. В случай че потребителят е заявил поръчка и не е заявил своевременно поправка в информацията с предоставените лични данни, в следствие на което tvoiatgarderob.bg изпълни неточно заявената от потребителя поръчка, tvoiatgarderob.bg не носи каквато и да било отговорност за неточно изпълнената поръчка и всички претърпени вреди са за сметка на потребителя.
С настоящите Общи условия tvoiatgarderob.bg уведомява потребителите, че е дружество, регистрирано като Администратор на лични данни съгласно чл. 14 ал. 4 от Закона за защита на личните данни с Удостоверение номер 431137, издадено на 13.09.2017г. от Председателя на Комисията за защита на личните данни. След запознаване със съдържанието на настоящите Общи условия и приемането им, Потребителите, попълнили регистрационната форма на Сайта, изрично се съгласяват предоставените от тях Лични данни да бъдат обработвани от tvoiatgarderob.bg по електронен път при доставка на поръчани стоки или услуги и при необходимост от помощ от служители на tvoiatgarderob.bg, както и да получават информация за продукти и услуги на tvoiatgarderob.bg на предоставените от тях форми за контакт, освен ако изрично не откажат да получават информация за продукти и услуги на tvoiatgarderob.bg чрез формите за запитване и контакт, посочени на настоящия Сайт.
Всички доброволно предоставени от Потребителя Лични данни и други данни, необходими за неговата идентификация в процеса на използване на Сайта, се съхраняват, обработват и използват от tvoiatgarderob.bg за целите на поддръжка на определени функционалности на предлаганите услуги и за целите на рекламата на стоки и услуги.
tvoiatgarderob.bg уведомява и декларира изрично пред Потребителя, че предоставените от Потребителя Лични данни не се отстъпват на трети лица за рекламни и промоционални цели.
tvoiatgarderob.bg си запазва правото да използва IP адресите и други данни на Потребителите за разкриване идентичността им в случаите, когато това е необходимо в изпълнение на закона, юридически процедури и/или за да се осигури спазването на настоящите Общи условия.
</p>
<p>IV.	Авторски права и ограничения, свързани с тях</p>
<p>Tvoiatgarderob.bg предоставя правото на Потребителите да използват всички услуги, които са посочени в Сайта само за лични нужди с нестопанска цел и при условие, че не се нарушават авторските права на tvoiatgarderob.bg или на трети лица свързани пряко или косвено с материалите на Сайта. Забранява се изрично материалите, публикувани на този Сайт да бъдат копирани, публично разпространявани или раздавани с каквато и да било цел от Потребителите. Употребата на публикуваните в този интернет Сайт материали в други сайтове е забранена и нарушителите подлежат на санкции съгласно разпоредбите, посочени в Закона за защита на авторското право и сродните му права.
tvoiatgarderob.bg си запазва правото да преотстъпва правата за публикуване на материали и друга информация, публикувана на Сайта, на трети лица при допълнително сключен договор в писмена форма, уреждащ правоотношенията, между tvoiatgarderob.bg и лицето публикуващо информацията.
При закупуване на стока, представляваща обект на авторски и/или патентни права tvoiatgarderob.bg не предоставя никакви допълнителни права за ползване и разпространение, освен изрично упоменатите права и/или лицензии от производителя/дистрибутора на стоката.
Всички предоставени от tvoiatgarderob.bg стоки и услуги, които се ползват със защита съгласно Закона за защита на авторското право и сродните му права , се предоставят на Потребителите в оригиналният си вид, опаковка и носител без каквото и да било въздействие от страна на tvoiatgarderob.bg и съгласно лицензите и правата за разпространение, предоставени от производителите и/или дистрибуторите им за Република България.
Предоставените препратки на Сайта на tvoiatgarderob.bg към сайтове, собственост на трети лица, са публикувани единствено и само за Удобство на потребителите. При употреба на такава препратка потребителите не използват услуга, предоставена от tvoiatgarderob.bg и по отношение на използването на препратката извън Сайта на tvoiatgarderob.bg настоящите Общи условия не се прилагат.
tvoiatgarderob.bg не контролира горепосочените сайтове, които не са собственост на tvoiatgarderob.bg и не поема никаква отговорност по отношение на информацията и/или съдържанието им. С настоящите Общи условия tvoiatgarderob.bg информира Потребителите, че по никакъв начин не налага и не препоръчва използването на тези сайтове от Потребители, нито информацията публикувана в тях. Посещението на посочените сайтове и всички рискове, свързани с използването им, са изцяло за сметка на Потребителите и tvoiatgarderob.bg не носи каквато и да било отговорност за претърпени в тази връзка вреди от Потребителите.
</p>

<p>V.	Стандартни стоки </p>
  <p>1.	Представяни стоки и услуги на Сайта</p>
<p>Всички, посочени на сайта цени, са в Български Лева и с включен ДДС. В случай, че стоката има няколко модификации, на страницата и са посочени цените за всяка от модификациите.
Tvoiatgarderob.bg има право по всяко време и без предупреждение да прави промени в публикуваните продукти, услуги, цени и други характеристики на стоките и Потребителите се считат информирани за посочените промени от датата на публикуването им. Информацията за част от публикуваните продукти е възможно да не е актуализирана, но във всички случаи Потребителите ще бъдат уведомени в случай на извършена поръчка на Сайта с форма за on-line покупки преди доставката им за неактуализирана информация на Сайта, свързана с поръчаните продукти. Част от информацията публикувана в Сайта е възможно да се отнася до продукти, услуги или програми, които не се предлагат и не са достъпни в момента, за което моля да ни извините предварително.
  </p>
<p>2.	Закупуване на Стока и/ или Услуга, представена във tvoiatgarderob.bg</p>
<p>Потребителят има право да поръчва всички стоки и услуги, посочени в Сайта на tvoiatgarderob.bg. При извършване на поръчката Потребителят има право да избере вида на стоките и количеството им, начина и сроковете за доставка,според предложените на Сайта възможности.
По всяко време преди окончателното потвърждение на Поръчката с попълването на формата за on-line покупки, Потребителят има право да извършва промени в избраните от него стоки и услуги.
При извършване на поръчка на Сайта Потребителят влиза в договорни отношения със „Братя Стоилови“ ООД или лицензиантите му, касаещи конкретната поръчка и регламентирани с настоящите Общи условия, поръчката се смята за окончателно извършена след получаване на потвърждение на поръчката или услугата, следвайки инструкциите, посочени в Сайта;
Tvoiatgarderob.bg има право да променя цените, посочени в Сайта по свое усмотрение, по всяко време и без да е длъжен да уведомява предварително Потребителите. Потребителят е длъжен да заплати цената, която е била посочена на Сайта по време на извършване на поръчката, независимо дали е по-ниска или по-висока от актуализираната цена. При допуснати технически грешки в публикуваната информация на Сайта, в резултат на което поръчката не може да бъде изпълнена, tvoiatgarderob.bg има правото да откаже изпълнението на поръчката и не дължи друго обезщетение на Потребителя, освен възстановяване на сумите, заплатени и/или депозирани от потребителя за отменената поръчка, ако има такива.
За да се регистрира , Потребителят трябва да попълни задължителните полета в секция „Регистрация“ на tvoiatgarderob.bg.
*Липсата на регистрация по никакъв начин не ограничава правото на останалите нерегистрирани клиенти да пазаруват свободно от сайта tvoiatgarderob.bg.
</p>
<p>3.	Доставка на закупени стоки</p>
<p>Срокът за доставката на заявените с поръчка стоки е посочен в Сайта, като срокът може да бъде удължен при официалните празници и/или почивни дни със срока на неработните дни. Във всички случаи е възможно забавяне в посочените срокове за доставка, за което ще бъдете уведомени своевременно от наш сътрудник. В случай на забавена доставка от страна на "Търговците" е предвидена неустойка в полза на Потребителя в размер на 0,1 % за всеки просрочен ден след посочения краен срок. В случай на забавено получаване от страна на Потребителя на поръчаните артикули е предвидена неустойка в полза на „Търговците" в размер на 0,1 % за всеки просрочен ден след изтичане на 3 (три) дни от получаване на уведомлението за наличността на поръчката в съответния склад. И в двата случая неустойката се изплаща при поискване.
При повече от три случая на невъзможност за уточняване на дата на доставка с Потребителя, относно доставката на конкретна поръчка по вина на последния, поръчката се анулира. Невъзможност за уточняване на дата на доставка може да се изразява в неосъществен телефонен разговор на посочения от Потребителя телефонен номер/номера, липса на предоставена възможност на служител на “Търговците ” да предложи дата на доставка и други такива. При повече от три отлагания/промени в срока на доставка на конкретна поръчка от страна на Потребителя след първоначална заявена готовност за доставка от страна на “Търговците” или общ максимален срок на отлагане повече от 30 календарни дни, поръчката се анулира.”
 
Искането за предварително отлагане може да се осъществи, както чрез телефонно обаждане на телефон 0877977156; 0877977165, така и чрез електронно съобщение на е-mail: tvoiatgarderob.bg При неспазване на горепосоченият срок, важат общите правила за анулиране на поръчки. Виновното неявяване  на уговорената дата, от страна на купувача (потребител), автоматично води до начисляване на транспортни разходи (в размер на по 5 лв.)  за последващи допълнително уговорени доставки. В случай на три извършени доставки до адрес на клиента и виновно неприета стока от потребителя, поръчката се анулира.
* За виновно неявяване /не приемане/ се счита: всяко неявяване, което не е заявено предварително или е заявено в деня на уговорената дата за доставка без основателна обективна причина или форсмажорно обстоятелство /наводнение, пожар, земетресение, смърт на лицето, негови близки или роднини/.
Доставката на поръчаните стоки се извършва по избрания от Потребителя начин и според посочените срокове, спазвайки условията на чл.103б от ЗЗП.
Условията за транспорт и качване по етажите са посочени в раздел "Услуги" на сайта.
Докато извършвате Вашата поръчка за покупка от онлайн магазина, ще забележите празно поле “Забележки”. В това поле имате възможност да посочите удобен за Вас ден за доставка и при възможност от наша страна, ще съобразим доставката с Вашите предпочитания, за което ще бъдете уведомени своевременно от наш сътрудник. Същото може да направите с пращане на e-mail: tvoiat.garderob@gmail.bg
Tvoiatgarob.bg може да поиска допълнително потвърждение, включително по телефон, факс, електронна поща на извършената поръчка. В случай, че Потребителят откаже да предостави изискваната от tvoiatgarderob.bg информация, отказът от предоставянето й автоматично води до отмяна на поръчката с или без допълнително уведомление на Потребителя.
Доставката се извършва до входа на сградата (блока) или вратата на двора.
Търговецът запазва правото си да откаже или измени мястото на доставка на поръчаната стока при наличието на следните условия:
- Обективна невъзможност да се извърши доставката в места с неразвита или непригодна пътна инфраструктура.
- Неасфалтирани пътища, тесни пътища, преминаването, през който е опасно за целостта на товара или превозното средство или за здравето на транспортиращият и други такива.
- Райони със засилена престъпност или неблагоустроени крайни градски квартали.
При изменение на мястото за доставка Търговецът се задължава да уведоми клиента предварително за наличието на възпрепятстващите го факти и да се уговори друга локация
за получаване, възможна и благоприятна и за двете страни.
Tvoiatgarderob.bg не носи отговорност за забава в случай, че забавянето се дължи по вина на куриера, извършващ доставката и/или поради независещи от tvoiatgarderob.bg обстоятелства.
При извършване на доставката, стоките следва да бъдат прегледани внимателно от Потребителя и/или упълномощено от него лице. При констатиране при прегледа на външни видими дефекти - евентуални повреди, удари и други щети, установени при доставка, Потребителят следва да подпише протокол за щети в присъствието на куриера незабавно и да уведоми сътрудник от отдел On-line на тел 0887237295 или ел.поща; tvoiat.garderob@gmail.com
При приемане на пратката от Потребителя без забележки, всички и всякакви претенции за външни видими дефекти са неоснователни и като такива не следва да бъдат удовлетворявани. В случай че не бъде изготвен и подписан протокол за щети в присъствието на куриера при получаването на пратката и/или не бъде незабавно уведомен сътрудник от отдел On-line на тел 0877977156,0877977165 или ел.поща: tvoiat.garderob@gmail.com, Потребителят губи правото си на привеждане на констатираните външни видими дефекти в съответствие с договора за продажбата.
При констатиран дефект на потребителската стока вследствие на транспортирането, потребителя се уведомява по телефона, след което страните определят нов срок за доставка и предаване на стоката в зависимост от обстоятелствата. Ако търговецът не достави и предаде стоката в този допълнително определен срок, потребителят има право да развали договора.
В случаите, когато от tvoiatgarderob.bg са зададени в писмена форма конкретни дата и час за доставка, изявлението има обвързваща сила. При посочени неверен или сгрешен адрес, лице за контакти и/или телефон при подаване на заявката tvoiatgarderob.bg не носи отговорност за неточно изпълнение на поръчката в следствие на подадената невярна информация от Потребителя.
При предаване на стоките, Потребителят или трето лице, посочено от него, са длъжни да подпишат придружаващите я документи. За трето лице се счита всяко лице, което не е титуляр на заявлението, но приема стоката при доставка на посочения от Потребителя адрес за доставка.
В случай, че Потребителят не бъде открит в срока за изпълнение на доставката на посочения от него адрес и/или не бъде осигурен достъп до адреса за доставка, tvoiatgarderob.bg се освобождава от задължението си да достави заявените стоки и Потребителят губи правата си по извършената от него поръчка за доставка на стоки.
Когато доставените стоки явно не съответстват на заявените за покупка от Потребителя и това може да се установи при обикновен преглед на доставените стоки, Потребителят има право да поиска доставената му стока да бъде заменена със съответстваща на извършеното от него заявление за покупка на стоки в срок от 24 часа от уведомяването за такова искане на сътрудник от отдел On-line на тел 0877977156,0877977165 или ел.поща; tvoiat.garderob@gmail.bg
tvoiatgarderob.bg си запазва правото да променя подизпълнителя, извършващ доставката, без да е длъжен да информира предварително Потребителя, стига това да не рефлектира на начина и срока на доставка.
Tvoiatgarderob.bg извършва доставки чрез подизпълнител/и само на територията на България.
  </p>
<p>4.	Заплащане на закупени стоки и услуги</p>
<p>При извършване на заплащане в брой на поръчаните стоки и услуги Потребителят се задължава да депозира в момента на доставката на Tvoiatgarderob.bg или на неговият представител/подизпълнител, изпълняващ доставката пълната стойност на доставената стока съгласно потвърдената поръчка. В случай, че в срок от 30 (тридесет) дни от датата на доставка, Потребителят откаже частично или изцяло закупените стоки, tvoiatgarderob.bg се задължава да възстанови частично или изцяло депозираната сума за тяхното закупуване. В случай, че Потребителят не реализира правото си на отказ от закупените стоки или услуги в горепосочения срок, tvoiatgarderob.bg автоматично трансформира депозита като заплащане на стойността на поръчаните стоки или услуги.
При заплащане при доставка, Потребителят депозира сума, равна на стойността на доставената стока съгласно потвърдената поръчка на доставящото лице, упълномощено от търговеца. В случай, че в срок от 30 (тридесет) дни от датата на доставка Потребителят откаже частично или изцяло закупените стоки, tvoiatgarderob.bg се задължава да възстанови частично или изцяло депозираната сума за тяхното закупуване. В случай, че Потребителят не реализира правото си на отказ от закупените стоки или услуги в горепосочения срок, tvoiatgarderob.bg автоматично трансформира депозита като заплащане на стойността на поръчаните стоки или услуги.
При заплащане по банков път, Потребителят депозира сума, равна на стойността на доставената стока съгласно потвърдената поръчка в банковата сметка на „Братя Стоилови“ ООД, посочена в генерираната фактура и едва след като депозита бъде потвърден като получен и банковата сметка бъде заверена със съответната сума, tvoiatgarderob.bg изпълнява доставката на поръчаните стоки и услуги. В случай, че в срок от 30 (тридесет) дни от датата на доставка Потребителят откаже частично или изцяло закупените стоки, tvoiatgarderob.bg се задължава да възстанови частично или изцяло депозираната сума за тяхното закупуване. В случай, че Потребителят не реализира правото си на отказ от закупените стоки или услуги в горепосочения срок, tvoiatgarderob.bg автоматично трансформира депозита като заплащане на стойността на поръчаните стоки или услуги.
</p>
<p>5.	Отказ от закупена стока</p>
<p>Потребителят има право да откаже и да поиска връщане на поръчаните и закупени от него стоки в срок от 30 (тридесет) дни от получаване на стоките на адреса за доставка, в случай, че същите са пълна окомплектовка с придружаващата ги документация за покупка и при условията по чл. 55 ( здрава стока) от Закона за защита на потребителите. Търговецът предлага по-голям срок спрямо законоустановеният (в чл.55, ал.1 ЗЗП) 14 - дневен.
Удовлетворяването на искане за връщане на стока: Стоката да е в пълна окомплектовка с придружаващата я документация за покупка. При положение, че потребителят не е запазил оригиналната опаковка следва да опакова стоката за транспортиране, с цел запазването й. Препоръчително е опаковането да е съобразено с теглото и съдържанието на стоката. Всеки пакет следва да бъде сигурно запечатан и подсилен по ръбовете. За надеждна опаковка практиката налага използването на поне 2 различни компонента (велпапе/ картон, аеропласт, найлон, стреч фолио и/или тиксо), тъй като риска от погиване/нараняване на стоката е за сметка на потребителя до приемането й в склад на /от Служител на/ Търговеца.
Силно наранени изделия не подлежат на връщане.
Заплатени суми за допълнителни услуги (разнос и монтаж) не се възстановяват.
При отказ от договора потребителят е длъжен да поеме преките разходи по връщането на стоката (основание чл.55 ал.2 ЗЗП). Потребителят има възможност сам да достави стоката до най-близкия склад на продавача или това да бъде извършено от изрично нотариално упълномощено от него лице. В този случай рискът от случайно погиване на стоката е изцяло за потребителя до предаването й в съответния склад на фирмата
При връщане на стоката от страна на потребителя, продавачът предлага превоз за цена от 20 лв.
За съдействие по демонтаж и/или разнос при връщането на стоката, потребителят заплаща допълнително тези услуги. Условията са посочени в раздел „Услуги“ на сайта.
Търговецът при наличието на хипотезата на т.5 от чл.57 ЗЗП , а именно „за доставка на запечатани стоки, които са разпечатани след доставката им и не могат да бъдат върнати поради съображения, свързани с хигиената или защита на здравето“ си запазва правото да не удовлетворява искането на потребителя за отказ по чл.50-56 ЗЗП
</p>

<p>VI.	Гаранционно обслужване</p>
<p>1. С всяка поръчка на стоки, подлежащи на гаранционно обслужване, tvoiatgarderob.bg сключва с Потребителя договор за покупка с нанесени данни за стоката и гаранционни срокове, както и посочени всички условия на предоставената законова/търговска гаранция. Тvoiatgarderob.bg препоръчва монтажът на закупената стока да се извършват оторизиран фирмен сервиз/ служител. При неизползвана на услугата „ Монтаж“, Потребителят трябва да се запознае с инструкцията за монтаж на изделието, който да се извърши в съответствие  (последователност) с приложената към артикула монтажна схема- AP( assembly plan).
При неяснота или проблем, Потребителят трябва да се свърже с нас( преди започване/ извършване на монтаж) на тел.: 0877977156,0877977165 или на e-mail: tvoiat.garderob@gmail.com
Търговската гаранция не оказва влияние върху правата на потребителите, произтичащи от гаранцията по чл.112 - чл.115 от ЗЗП.
 Независимо от търговската гаранция търговецът отговаря за липсата на съответствие на потребителската стока с договора за продажба, съгласно гаранцията по чл.112 – чл.115 и следващи от ЗЗП, във вр.с чл.124, ал.1 и следващи от ЗЗП:
Чл. 112. (1) При несъответствие на потребителската стока с договора за продажба потребителят има право да предяви рекламация, като поиска от продавача да приведе стоката в съответствие с договора за продажба. В този случай потребителят може да избира между извършване на ремонт на стоката или замяната й с нова, освен ако това е невъзможно или избраният от него начин за обезщетение е непропорционален в сравнение с другия.
(2) Смята се, че даден начин за обезщетяване на потребителя е непропорционален, ако неговото използване налага разходи на продавача, които в сравнение с другия начин на обезщетяване са неразумни, като се вземат предвид:
1. стойността на потребителската стока, ако нямаше липса на несъответствие;
2. значимостта на несъответствието;
3. възможността да се предложи на потребителя друг начин на обезщетяване, който не е свързан със значителни неудобства за него.
Чл. 113. (1) (Нова - ДВ, бр. 18 от 2011 г.) Когато потребителската стока не съответства на договора за продажба, продавачът е длъжен да я приведе в съответствие с договора за продажба.
(2) (Предишна ал. 1 - ДВ, бр. 18 от 2011 г.) Привеждането на потребителската стока в съответствие с договора за продажба трябва да се извърши в рамките на един месец, считано от предявяването на рекламацията от потребителя.
(3) (Предишна ал. 2, изм. - ДВ, бр. 18 от 2011 г.) След изтичането на срока по ал. 2 потребителят има право да развали договора и да му бъде възстановена заплатената сума или да иска намаляване на цената на потребителската стока съгласно чл. 114.
(4) (Предишна ал. 3 - ДВ, бр. 18 от 2011 г.) Привеждането на потребителската стока в съответствие с договора за продажба е безплатно за потребителя. Той не дължи разходи за експедиране на потребителската стока или за материали и труд, свързани с ремонта й, и не трябва да понася значителни неудобства.
(5) (Предишна ал. 4 - ДВ, бр. 18 от 2011 г.) Потребителят може да иска и обезщетение за претърпените вследствие на несъответствието вреди.
Чл. 114. (1) При несъответствие на потребителската стока с договора за продажба и когато потребителят не е удовлетворен от решаването на рекламацията по чл. 113, той има право на избор между една от следните възможности:
1. разваляне на договора и възстановяване на заплатената от него сума;
2. намаляване на цената.
(2) Потребителят не може да претендира за възстановяване на заплатената сума или за намаляване цената на стоката, когато търговецът се съгласи да бъде извършена замяна на потребителската стока с нова или да се поправи стоката в рамките на един месец от предявяване на рекламацията от потребителя.
(3) (Нова - ДВ, бр. 61 от 2014 г., в сила от 25.07.2014 г.) Търговецът е длъжен да удовлетвори искане за разваляне на договора и да възстанови заплатената от потребителя сума, когато след като е удовлетворил три рекламации на потребителя чрез извършване на ремонт на една и съща стока, в рамките на срока на гаранцията по чл. 115, е налице следваща поява на несъответствие на стоката с договора за продажба.
(4) (Предишна ал. 3 - ДВ, бр. 61 от 2014 г., в сила от 25.07.2014 г.) Потребителят не може да претендира за разваляне на договора, ако несъответствието на потребителската стока с договора е незначително.
Чл. 115. (1) Потребителят може да упражни правото си по този раздел в срок до две години, считано от доставянето на потребителската стока.
(2) Срокът по ал. 1 спира да тече през времето, необходимо за поправката или замяната на потребителската стока или за постигане на споразумение между продавача и потребителя за решаване на спора.
(3) Упражняването на правото на потребителя по ал. 1 не е обвързано с никакъв друг срок за предявяване на иск, различен от срока по ал. 1.
2. Потребителят не може да се позове и губи правата си по предоставената гаранция:
а) в случай на не предоставени или не попълнени гаранционни или платежни документи;
б) в случай на повреди причинени при транспорт на Клиентската поръчка ( КП) от клиента, качване на КП от клиента, нараняване на стоката при неправилно разопаковане, чрез остри и режещи предмети, и неправилен монтаж( започнат/ извършен) от страна на потребителя;
в) при опит за извършване на ремонт и отстраняване на несъответствие от не оторизиран от tvoiatgarderob.bg сервизен( монтажен) център;
г) в случай на повреди/ дефекти причинени от неправилна експлоатация на артикулите (от влага, надраскване, счупване, зацапване, скъсване, изгаряне и други действия и бездействия, причинени от потребителя);
д) в случай на нарушаване на физическата цялост на стоката;
е) в случай че при отваряне на вече доставени пакети, клиентът констатира несъответствие, за което не сигнализира, а започва/ извършва монтаж на детайла/продукта;
ж) при не съдействие от страна на потребителя и не представяне на информация, установяваща характера на несъответствието на стоката с договореното( снимков материал и др.);
з) Предоставената за продукта законова/търговска гаранция не покрива щети, причинени от форсмажорни обстоятелства (наводнение, земетресение, пожар и други природни бедствия).
Предоставената за продукта търговска гаранция не покрива компоненти на продукта с ограничен срок на годност.
Гаранционното обслужване се извършва само и единствено в посочените на договора за продажба обекти, при наличие на пълна документация и окомплектовка на продукта. Гаранционното обслужване се извършва само от специализиран сервиз на tvoiatgarderob.bg.
Стоките и услугите, посочени в този Сайт, са ограничени само до посочените в Сайта Общи условия и информация, без да бъдат осигурявани каквито и да било гаранции извън посочените, включително търговски. Задълженията на tvoiatgarderob.bg по отношение на продуктите и услугите, които се предлагат в този Сайт, се регламентират от съответните споразумения с вносителите и/ или дистрибуторите на представяните продукти.
  </p>
<p>VII.	Бисквитки( Cookies) и ремаркетинг</p>
<p> разглеждате tvoiatgarderob.bg ще Ви бъдат добавени рекламни бисквитки към Вашия браузър, за да можем да разберем по-добре от какво се интересувате. Нашия партньор в дисплейната реклама, AdRoll ни позволява да Ви покажем реклами базирани на разгледаните от вас страници на tvoiatgarderob.bg. Технологията, която нашия партньор използва не събира лична информация, като имена, имейли, пощенски адреси или телефони. Можете да посетите тази страница за да премахнете AdRoll и техните таргетиращи реклами.
  </p>
<p>VIII.	Други</p>
<p>Цената която се генерира в секцията „КАЛКУЛАТОР“ на tvoiatgarderob.bg, е ориентировъчна и не е обвързваща с крайната цена на услугата/ стоката в Сайта. Крайната цена на услугите и стоките при заявка е тази която ще бъде написана в офертата която се праща на Потребителят.
Tvoiatgarderob.bg	не носи отговорност за различията във визуализацията на материалите в Сайта, произлизаща от различни монитори на устройствата от които се глада Сайта. Реалните цветове може да се видят само на живо при производителят на даденият елемент.
Търговецът има право да променя едностранно всички условия посочени в сайта tvoiatgarderob.bg, като промените влизат в сила от датата на актуализирането им единствено за бъдещите клиенти. За текущите договори важат редакциите на Общите условия към момента на генерирането им.
При промяна при текущи договори важат правилата на чл.147б ЗЗП.
 
Tvoiatgarderob.bg си запазва правото да изпраща на Потребителя съобщения, свързани с нови продукти и услуги, с промоции и/или с промени в условията и начините за доставка на предоставяните стоки и каквато и да било друга информация, публикувана на Сайта
Tvoiatgarderob.bg администрира този Сайт и неговото приложение е валидно само за територията на Република България. Tvoiatgarderob.bg декларира, че материалите или услугите, посочени в този Сайт, не са подходящи или достъпни извън територията на Република България и съответно достъпът до тях от територии, извън посочената територия, е невалиден.
Въпроси, запитвания и консултации на Потребителя могат да бъдат извършвани оn-line чрез Сайта на tvoiatgarderob.bg на формата за въпроси и запитвания, чрез сътрудник от отдел On-line на тел.: 0877977156; 0877977165, или ел.поща: tvoiat.garderob@gmail.com в рамките на работното време: от 8:00 до 18:30 часа, без почивен ден.
Настоящите Общи условия могат да бъдат актуализирани по всяко време, като  в сайта tvoiatgarderob.bg се отбелязва датата на последното им изменение.
При използване на сайта на tvoiatgarderob.bg, Потребителите се задължават да спазват настоящите Общи условия, както и приложимото за предоставяните на Сайта стоки и услуги законодателство на Република България, включително и международното законодателство.
ПОТРЕБИТЕЛЯТ СЕ СЪГЛАСЯВА С УСЛОВИЯTA ЗА ИЗПОЛЗВАНЕ УСЛУГИТЕ НА tvoiatgarderob.bg С НАТИСКАНЕ (КЛИКВАНЕ) НА ВСЕКИ ЕДИН ОБЕКТ, ЛИНК ИЛИ БУТОН НА САЙТА НА tvoiatgarderob.bg, КАКТО И С ЛИНКА КЪМ НАСТОЯЩИТЕ ОБЩИ УСЛОВИЯ И СЕ СЧИТА, ЧЕ Е ЗАПОЗНАТ С ОБЩИТЕ УСЛОВИЯ, ПРИЕМА ГИ И СЕ ЗАДЪЛЖАВА ДА ГИ СПАЗВА.
Координатите на tvoiatgarderob.bg са следните:
гр.София, ж.к. Манастирски ливади - изток
ул. 413, бл. 101
Тел.: +0877977156,0877977165
Ел.поща:tvoiat.garderob@gmail.com</p>
 
<p>Последно актуализирани на 11.05.2017г.		
			</p>
		</div>
	</div>
</div>
<!-- ! content-->
@section Scripts {
	@*@Scripts.Render("~/bundles/jqueryval")*@
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
