@model App.Web.Models.RegisterViewModel
@{
	ViewBag.Title = "Register";
}

<!-- content-->
<!-- breadcrumbs start-->
<section class="breadcrumbs">
	<div class="container">
		<div class="text-center breadcrumbs-item">
			<h1>Рeгистрация</h1><a href="#">начало</a><i class="fa fa-angle-right"></i><a href="#">Регистрация</a>
		</div>
	</div>
</section>
<!-- ! breadcrumbs end-->
<div class="container pb-60">
	<div class="row registration-row">
		<div class="col-md-6">
			<h3>Регистрация на нов потребител:</h3>
			<div class="widget-contact-form pb-0">
				<!-- contact-form-->
				@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form contact-form alt clearfix" }))
				{
				@*@using (Ajax.BeginForm("Register", "Account", null, new AjaxOptions { UpdateTargetId = "result" },
			new { @class = "form contact-form alt clearfix", @id = "result" }))
				{*@
					@Html.AntiForgeryToken()
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.LabelFor(model => model.Email)
					@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-row", @placeholder = "Име" } })
					@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

					@Html.LabelFor(model => model.Password)
					@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-row", @placeholder = "Парола" } })
					@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

					@Html.LabelFor(model => model.ConfirmPassword)
					@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-row", @placeholder = "Повтори паролата:" } })
					@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
					<div>
						<div class="checkbox">
							<input id="checkbox1" type="checkbox" value="None" name="check">
							<label for="checkbox1">Запозрах се и съм съгласен с общите условия</label>
						</div>
					</div>
					<button type="submit" class="cws-button alt full-width">
						Изпрати
					</button>
				}
				@*<form action="php/contacts-process.php" method="post" class="form contact-form alt clearfix">
						<input type="text" name="name" value="" size="40" placeholder="Име" aria-invalid="false" aria-required="true" class="form-row form-row-first">
						<input type="text" name="family" value="" size="40" placeholder="Фамилия" aria-invalid="false" aria-required="true" class="form-row">
						<input type="text" name="company" value="" size="40" placeholder="Фирма" aria-invalid="false" aria-required="true" class="form-row">
						<input type="text" name="username" value="" size="40" placeholder="Потребителско име" aria-invalid="false" aria-required="true" class="form-row">
						<input type="password" name="password" value="" size="40" placeholder="Парола" aria-invalid="false" aria-required="true" class="form-row">
						<input type="text" name="city" value="" size="40" placeholder="Град" aria-invalid="false" aria-required="true" class="form-row">
						<input type="text" name="address" value="" size="40" placeholder="Адрес" aria-invalid="false" aria-required="true" class="form-row">
						<input type="text" name="delivery-address" value="" size="40" placeholder="Адрес за доставка" aria-invalid="false" aria-required="true" class="form-row">
						<input type="text" name="phone" value="" size="40" placeholder="Телефон за връзка" aria-invalid="false" aria-required="true" class="form-row">
						<input type="email" name="email" value="" size="40" placeholder="Email" aria-required="true" class="form-row">
						<textarea name="invoice-data" cols="40" rows="4" placeholder="Данни за фактура" aria-invalid="false" aria-required="true"></textarea>
						<div>
							<div class="checkbox">
								<input id="checkbox1" type="checkbox" value="None" name="check">
								<label for="checkbox1">Запозрах се и съм съгласен с общите условия</label>
							</div>
						</div>
						<input type="submit" value="Изпрати" class="cws-button alt full-width">
					</form>*@
				<!-- ! contact-form-->
				<div id="feedback-form-errors" role="alert" class="alert alert-danger alt alert-dismissible fade in">
					<button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button><i class="alert-icon border fa fa-exclamation-triangle"></i><strong>Грешни данни!</strong><br>
					<div class="message"></div>
				</div>
				<div class="email_server_responce"></div>
			</div>
		</div>
		<div class="col-md-6 terms-container">
			<h3>Общи условия:</h3>
			<h5>Nulla leo nulla, ornare pretium sapien at.</h5>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat ex ut nisi posuere, et laoreet dolor suscipit. Integer pulvinar, turpis et ultricies porttitor, massa arcu efficitur mi, a pretium mi odio id eros. Nulla leo nulla, ornare pretium sapien at, feugiat pharetra ante. Integer non neque sit amet lorem placerat condimentum sed sed sem. Pellentesque at suscipit lacus. Integer a tempus nunc, sed finibus nulla. Pellentesque in tristique augue.
			</p>
			<h5>Nulla leo nulla, ornare pretium sapien at.</h5>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat ex ut nisi posuere, et laoreet dolor suscipit. Integer pulvinar, turpis et ultricies porttitor,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat ex ut nisi posuere, et laoreet dolor suscipit. Integer pulvinar, turpis et ultricies porttitor, massa arcu efficitur mi, a pretium mi odio id eros. Nulla leo nulla, ornare pretium sapien at, feugiat pharetra ante. Integer non neque sit amet lorem placerat condimentum sed sed sem. Pellentesque at suscipit lacus. Integer a tempus nunc, sed finibus nulla. Pellentesque in tristique augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat ex ut nisi posuere, et laoreet dolor suscipit. Integer pulvinar, turpis et ultricies porttitor, massa arcu efficitur mi, a pretium mi odio id eros. Nulla leo nulla, ornare pretium sapien at, feugiat pharetra ante. Integer non neque sit amet lorem placerat condimentum sed sed sem. Pellentesque at suscipit lacus. Integer a tempus nunc, sed finibus nulla. Pellentesque in tristique augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat ex ut nisi posuere, et laoreet dolor suscipit. Integer pulvinar, turpis et ultricies porttitor, massa arcu efficitur mi, a pretium mi odio id eros. Nulla leo nulla, ornare pretium sapien at, feugiat pharetra ante. Integer non neque sit amet lorem placerat condimentum sed sed sem. Pellentesque at suscipit lacus. Integer a tempus nunc, sed finibus nulla. Pellentesque in tristique augue. massa arcu efficitur mi, a pretium mi odio id eros. Nulla leo nulla, ornare pretium sapien at, feugiat pharetra ante. Integer non neque sit amet lorem placerat condimentum sed sed sem. Pellentesque at suscipit lacus. Integer a tempus nunc, sed finibus nulla. Pellentesque in tristique augue.
			</p>
			<h5>Nulla leo nulla, ornare pretium sapien at.</h5>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat ex ut nisi posuere, et laoreet dolor suscipit. Integer pulvinar, turpis et ultricies porttitor, massa arcu efficitur mi, a pretium mi odio id eros. Nulla leo nulla, ornare pretium sapien at, feugiat pharetra anLorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat ex ut nisi posuere, et laoreet dolor suscipit. Integer pulvinar, turpis et ultricies porttitor, massa arcu efficitur mi, a pretium mi odio id eros. Nulla leo nulla, ornare pretium sapien at, feugiat pharetra ante. Integer non neque sit amet lorem placerat condimentum sed sed sem. Pellentesque at suscipit lacus. Integer a tempus nunc, sed finibus nulla. Pellentesque in tristique augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat ex ut nisi posuere, et laoreet dolor suscipit. Integer pulvinar, turpis et ultricies porttitor, massa arcu efficitur mi, a pretium mi odio id eros. Nulla leo nulla, ornare pretium sapien at, feugiat pharetra ante. Integer non neque sit amet lorem placerat condimentum sed sed sem. Pellentesque at suscipit lacus. Integer a tempus nunc, sed finibus nulla. Pellentesque in tristique augue.te. Integer non neque sit amet
			</p>
		</div>
	</div>
</div>
<!-- ! content-->
@section Scripts {
	@*@Scripts.Render("~/bundles/jqueryval")*@
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
